
<!DOCTYPE html>
<meta name="description" content="Simple BioJS example" />
<!-- you only need to include the MSA scrip -->
{% load static %}
<script src="{% static "alignments/msa.min.gz.js" %}"></script>

<p>
	You are loooking at alignment {{aln_name}}.
</p>
<div id="yourDiv">press "Run with JS"</div>
<script>
var sequence = "{{ fastastring }}".replace(/&gt;/g,'\>');//.replace(/&gt;/g,'\>')
var opts = {
	el: document.getElementById("yourDiv"),
	seqs: msa.io.fasta.parse(sequence),
	colorscheme: {
		scheme: "clustal2",
	},
	zoomer: {
		// general
		alignmentWidth: "auto",
		alignmentHeight: 750,
		columnWidth: 15,
		rowHeight: 15,
		labelNameLength: 200,
		autoResize: true, // only for the width
	},
	// smaller menu for JSBin
	menu: "small",
	bootstrapMenu: true
};

var m = new msa.msa(opts);
m.render();

</script>
