<html>
	<head>
		{% csrf_token %}
		{% load static %}
	
		<!-- Support scripts for RV3 -->
		<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src={% static 'alignments/RV3_before.js' %}></script>
		<script type="text/javascript" src={% static 'alignments/API_helper.js' %}></script>
	</head>
	<body>
		Select a molecule type:
		<br>
		<select id="1.moleculeGroupSelect" onfocus="this.selectedIndex=-1;" onchange="
			let
				selectedMoleculeGroups = []; 
			Array.from(this.selectedOptions).forEach(selectedOption => selectedMoleculeGroups.push(selectedOption.value));
			let
				url = '/getAlignmentsFilterByProteinType/' + selectedMoleculeGroups.join(',');
			populateSelect('1.alignmentSelect', results(url));"
		></select>
		<br>
		Select an alignment:
		<br>
		<select id="1.alignmentSelect" onfocus="this.selectedIndex=-1;" onchange="
			let
				selectedAlignment = this[this.selectedIndex],
				selectedMoleculeGroups = [],
				selectedAlignments = [];
			Array.from(getElementById('1.moleculeGroupSelect').selectedOptions).forEach(selectedOption => selectedMoleculeGroups.push(selectedOption.value));
			Array.from(getElementById('1.alignmentSelect').selectedOptions).forEach(selectedOption => selectedAlignments.push(selectedOption.value));
			url = '/getStrainsFilterByMoleculeGroupAndAlignment/' + selectedMoleculeGroups.join(',') + '/' + selectedAlignments.join(',');
			strains = results(url);
			populateSelect('1.taxSelect.0', strains, tuple => tuple[0], tuple => tuple[1]);
			populateSelect('1.taxSelect.1', strains, tuple => tuple[0], tuple => tuple[1]);"
		></select>
		<br>
		Select two strains:
		<br>
		<select id="1.taxSelect.0" onfocus = "this.selectedIndex=-1" onchange="
			let
				otherTaxSelect = document.getElementById('1.taxSelect.1');
			if (otherTaxSelect.selectedIndex != -1) {
				showTruncatedAlignment(this[this.selectedIndex], otherTaxSelect[otherTaxSelect.selectedIndex]);
			}"
		></select>
		<select id="1.taxSelect.1" onfocus = "this.selectedIndex=-1" onchange="
			let
				otherTaxSelect = document.getElementById('1.taxSelect.0');
			if (otherTaxSelect.selectedIndex != -1) {
				showTruncatedAlignment(otherTaxSelect[otherTaxSelect.selectedIndex], this[this.selectedIndex]);
			}"
		></select>
		<p id="url_display"></p>
		<pre id="projectInfo"></pre>
	</body>
</html>
<script>
	function results(url) {
		let
			return_value = 'default';
		$.ajax({
			url: url,
			type: 'GET',
			dataType: "json",
			async: false,
			success: function(data) {
				return_value = data['results'];
			},
			error: function(error) {
				console.log(`Error ${error}`);
			}
		});
		return return_value;
	}
	function combine(url, additive=true) {
	}
	function clearSelect(selectId) {
		let
			selectElement = document.getElementById(selectId);
			numSelectOptions = selectElement.length;
		for (let i = numSelectOptions - 1; i >= 0; i--) {
			selectElement[i] = null;
		}
		return selectElement;
	}
	function populateSelect(selectId, entries, getTextHelper = (entry => entry), getValueHelper = (entry => entry)) {
		let
			selectElement = clearSelect(selectId),
			index = 0;
		entries.forEach(entry => selectElement[index++] = new Option(text=getTextHelper(entry), value=getValueHelper(entry)));
	}
	function showTruncatedAlignment(strainOption0, strainOption1) {
		// let
		// 	selectedMoleculeGroups = [];
		// Array.from(document.getElementById('1.moleculeGroupSelect').selectedOptions).forEach(selectedOption => selectedMoleculeGroups.push(selectedOption.value));
		
		// let
		// 	genusList = [];
		// $.ajax({
		// 	url: 'getGenusFromStrainIds/' + strainOption0.value + ', ' + strainOption1.value,
		// 	type: 'GET',
		// 	dataType: 'json',
		// 	async: false,
		// 	success: function(data) {
		// 		genusList = data['genusList'];
		// 	},
		// 	error: function(error) {
		// 		console.log(`Error ${error}`);
		// 	}
		// });
		// let
		// 	alignmentSelect = document.getElementById('1.alignmentSelect'),
		// 	truncatedAlignment = '';
		// $.ajax({
		// 	url: 'ortholog-aln-api/' + selectedMoleculeGroups.join(',') + '/' + alignmentSelect[alignmentSelect.selectedIndex].value + '/' + genusList.join(','),
		// 	type: 'GET',
		// 	dataType: 'json',
		// 	async: false,
		// 	success: function(data) {
		// 		let
		// 			alignment = data['Alignment']
		// 		if (alignment.endsWith('\n')) {
		// 			alignment = alignment.substring(0, alignment.length - 1);
		// 			let
		// 				alignmentLines = alignment.split('\n'),
		// 				modifiedStrainName0 = strainOption0.text.replace(' ', '_'),
		// 				modifiedStrainName1 = strainOption1.text.replace(' ', '_');
		// 			for (let i = 1; i < alignmentLines.length; i += 2) {
		// 				let
		// 					titleLine = alignmentLines[i - 1],
		// 					alignmentLine = alignmentLines[i];
		// 				if (titleLine.includes(modifiedStrainName0) || titleLine.includes(modifiedStrainName1)) {
		// 					truncatedAlignment += alignmentLine + '\n';
		// 				}
		// 			}
		// 		}
		// 	},
		// 	error: function(error) {
		// 		console.log(`Error ${error}`);
		// 	}
		// });
		let
			truncatedAlignment = null,
			selectedMoleculeGroups = [],
			alignmentSelect = document.getElementById('1.alignmentSelect');
		Array.from(document.getElementById('1.moleculeGroupSelect').selectedOptions).forEach(selectedOption => selectedMoleculeGroups.push(selectedOption.value));
		let 
			_urlSuffix = selectedMoleculeGroups.join(',') + '/' + alignmentSelect[alignmentSelect.selectedIndex].text + '/' + strainOption0.value + '/' + strainOption1.value;
		$.ajax({
			url: 'getPairwiseAlignment/' + _urlSuffix,
			type: 'GET',
			dataType: 'json',
			async: false,
			success: function(data) {
				truncatedAlignment = data;
			},
			error: function(error) {
				console.log(`Error ${error}`);
			}
		});
		document.getElementById('url_display').innerHTML = 'https://ribovision3.chemistry.gatech.edu/showPairwiseAlignment/' + _urlSuffix
		document.getElementById('projectInfo').textContent = truncatedAlignment;
		// let
		// 	lines = null,
		// 	selectedMoleculeGroups = [],
		// 	selectedAlignments = [];
		// Array.from(document.getElementById('1.moleculeGroupSelect').selectedOptions).forEach(selectedOption => selectedMoleculeGroups.push(selectedOption.value));
		// Array.from(document.getElementById('1.alignmentSelect').selectedOptions).forEach(selectedOption => selectedAlignments.push(selectedOption.value));
		// $.ajax({
		// 	url: 'getAlignmentFilterByNameAndMoleculeGroupTrimByStrainId/' + selectedMoleculeGroups.join(',') + '/' + selectedAlignments.join(',') + '/' + taxId0 + ',' + taxId1,
		// 	type: 'GET',
		// 	dataType: "json",
		// 	async: false,
		// 	success: function(data) {
		// 		lines = data['results'].join('\n');
		// 	},
		// 	error: function(error) {
		// 		console.log(`Error ${error}`);
		// 	}
		// });
		// document.getElementById('projectInfo').textContent = lines;
	}
	ajax('/allProteinTypes').then(val => {
		let
			allProteinTypes = val['allProteinTypes'];
		populateSelect('1.moleculeGroupSelect', allProteinTypes);
	});
</script>
