<html>
<head>
	<!-- Guilde here https://vue-treeselect.js.org/ -->
	<!-- include Ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- include Vue 2.x -->
	<script src="https://cdn.jsdelivr.net/npm/vue@^2"></script>
	<!-- include vue-treeselect & its styles. you can change the version tag to better suit your needs. -->
	<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">
</head>
<body>
	<div id="app">
		<treeselect 
			v-model="value" 
			v-on:input="limiter"
			placeholder="Select two groups"
			:multiple="true" 
			:options="options" 
			:flat="true"
			:limit="2"
			/>Loading phylogenetic tree...
	</div>
</body>

<script>
	// register the component
	Vue.component('treeselect', VueTreeselect.Treeselect)
	function callback(tree){
		new Vue({
			el: '#app',
			data: {
				value: null,
				options:[
					tree
				]},
			methods: {
				limiter(e) {
					if(e.length > 2) {
						alert('You can only select two groups!')
						e.pop()
					}
				},
			}
		})
	}
	$.ajax({
		url: '/alignments/showTaxonomy',
		type: "GET",
		dataType: "json",
		success: function (data) {
			console.log(data);
			callback(data)
		},
		error: function (error) {
			console.log(`Error ${error}`);
		}
	});
</script>
</html>