<html>
<head>
	{% load static %}
	{% load render_bundle from webpack_loader %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.5.2/prop-types.js"></script>
	<!-- include Ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- include styles -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'alignments/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'alignments/pdbe-molstar-1.1.0-dev.5.css' %}">
	
	<style data="rv3_style" type="text/css"></style>
	<!-- Alignment viewer -->
	
	<!-- Complied & minified d3 and math libraries -->
	<script src="https://cdn.jsdelivr.net/npm/d3@5.9.2" defer></script>
	<script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js></script>
	
	<!-- Support scripts for the topology viewer -->
	<script type="text/javascript" src={% static 'alignments/colormaps.js' %} defer></script>

	<!-- Topology and Mol* viewers -->
	<script type="text/javascript" src={% static 'pdb-topology-viewer-component-2.0.0.js' %} defer></script>
	<script type="text/javascript" src={% static 'alignments/pdbe-molstar-plugin-1.1.0.js' %}></script>
	
	<!-- Support scripts for RV3 -->
	<script type="text/javascript" src={% static 'alignments/RV3_before.js' %}></script>
</head>
<body>
	
	<!-- include our custom Vue scripts -->

	
	<div id="app"></div>
	{% render_bundle 'main' %}
	<script type="text/javascript" src={% static 'alignments/RV3_after.js' %}></script>
	
</body>

</html>
