<html>
<head>
	{% load static %}
	<!-- Guilde here https://vue-treeselect.js.org/ -->
	<!-- include Ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- include Vue 2.x -->
	<script src="https://cdn.jsdelivr.net/npm/vue@^2"></script>
	<!-- include vue-treeselect & its styles. you can change the version tag to better suit your needs. -->
	<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">
	<!-- include our custom tree Ajax call and tree object. -->
	
</head>
<body>
	<form action="">
	<div id="phylo_tree_dropdown">
		<treeselect 
			:load-options="loadOptions"
			v-model="value" 
			v-on:input="limiter"
			placeholder="Select two groups"
			:multiple="true" 
			:options="options" 
			:flat="true"
			:limit="2"
			/>Loading phylogenetic tree...
	</div>
	</form>
	<script src="{% static "alignments/vue_tree_select.js" %}"></script>
</body>

<script>

</script>
</html>