<select onchange="location = this.value;">
	<option value="">Select a alignment</option>
	{% for aln in some_Alignments %}
		{%if 'LSU' not in aln.name%}
			<option value="{% url 'alignments:detail' aln.name %}">{{ aln.name }}</option>
		{% endif %}
	{% endfor %}
</select>

<p>OR</p>

<select onchange="location = this.value;">
	<option value="">Select a rRNA alignment</option>
	{% for aln in some_Alignments %}
		{%if 'LSU' in aln.name%}
			<option value="{% url 'alignments:rRNA' aln.name %}">{{ aln.name }}</option>
		{% endif %}
	{% endfor %}
</select>


<!-- OLD CODE
{% if some_Alignments %}
	<ul>
	{% for aln in some_Alignments %}
		<li><a href="{% url 'alignments:detail' aln.aln_id %}">{{ aln.name }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No alignments are available.</p>
{% endif %}
-->


