<html>
<head>
	{% load static %}
	<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.5.2/prop-types.js"></script>
	<script src="https://unpkg.com/@plotly/react-msa-viewer/dist/index.umd.min.js"></script>
	<!-- include Ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- include Vue 2.x -->
	<script src="https://cdn.jsdelivr.net/npm/vue@^2"></script>
	<!-- include vue-treeselect & styles -->
	<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'alignments/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'alignments/pdbe-molstar-1.1.0-dev.5.css' %}">

	<!-- Alignment viewer -->
	<script src="{% static "alignments/msa.js" %}"></script>
	<!-- <script src="https://cdn.bio.sh/msa/1/msa.min.gz.js"></script> -->
	
	<!-- Complied & minified d3 and math libraries -->
	<script src="https://cdn.jsdelivr.net/npm/d3@5.9.2" defer></script>
	<script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js></script>
	
	<!-- Support scripts for the topology viewer -->
	<script type="text/javascript" src={% static 'alignments/colormaps.js' %} defer></script>
	<script type="text/javascript" src={% static 'alignments/GetRangeMapping.js' %} defer></script> 

	<!-- Topology and Mol* viewers -->
	<script type="text/javascript" src={% static 'pdb-topology-viewer-component-2.0.0.js' %} defer></script>
	<script type="text/javascript" src={% static 'alignments/pdbe-molstar-plugin-1.1.0.js' %}></script>
	
</head>
<body>
	<header class="pink section">DESIRE: DatabasE for Study and Imaging of Ribosomal Evolution</header>
	<div id="phylo_tree_dropdown">
		<div class="left-sidebar">
			<p id="tree_type">
				<input type="radio" id="orthologs" value="orth" v-model="type_tree" v-on:input="cleanTreeOpts()" checked>
				<label for="orthologs" >Orthologs</label>
				<input type="radio" id="paralogs" value="para" v-model="type_tree" v-on:input="cleanTreeOpts()">
				<label for="paralogs">Paralogs</label>
				<input type="radio" id="upload" value="upload" v-model="type_tree" v-on:input="cleanTreeOpts()">
				<label for="upload">Upload</label>
			</p>
			<div v-if="type_tree=='para'|type_tree=='orth'">
			<treeselect 
			  :load-options="loadOptions"
			  v-model="tax_id" 
			  v-on:input="loadData(tax_id, type_tree)"
			  placeholder="Select a group"
			  no-children-text="Loading... or no children"
			  :multiple="true" 
			  :options="options" 
			  :flat="true"
			  :limit="2"
			  :default-expand-level="1"
			  >Loading phylogenetic tree...</treeselect>
			</div>
			<div v-else>
				<p>Select alignment file: </p>
				<p><input type = "file" accept=".fasta,.fas,.fa" ref="custom_aln_file" v-on:change="handleFileUpload()"/></p>
				<p><button v-on:click="submitCustomAlignment()">Upload alignment</button>{% csrf_token %}</p>
			</div>
			<p>
				<select id="selectaln" v-if="tax_id" v-model="alnobj" @change="showAlignment(alnobj.id, tax_id, type_tree)" >
				  <option v-if="tax_id" :value="null" selected disabled hidden>Select an alignment</option>
				  <option v-if="tax_id" v-for="aln in alignments" v-bind:value="{ id: aln.value, text: aln.text }">[[ aln.text ]]</option>
				</select>
			</p>
			<p>
				<span v-if="alnobj&&alnobj!='custom'">Selected alignment: [[alnobj.text]].<br></span>
				<span v-if="alnobj">Input PDB and polymer for mapping:</span>
			</p>
			<p><input id="pdb_input" v-if="alnobj" v-model="pdbid" v-on:input="getPDBchains(pdbid, alnobj.id)" placeholder="4v9d" maxlength="4">
				<div v-if="alnobj" class="checkbox">
					<label><input type="checkbox" v-model="checked_propensities" v-on:change="handlePropensities(checked_propensities)">Propensities</label>
				</div>
			</p>
			<p v-if="hide_chains">Looking for available polymers...</p>
			<p><select v-bind:style="{ resize: 'both'}" multiple v-if="chains&&fasta_data" v-model="chainid" >
				<option :value ="null" selected disabled>Select polymer</option>
				<option v-for="chain in chains" v-bind:value="chain.value" @click="showTopologyViewer(pdbid, chainid, fasta_data); showPDBViewer(pdbid, chainid, chain.entityID)">[[ chain.text ]]</option>
			</select></p>
			<div v-if="chainid">
				<button type="button" v-on:click="downloadCSVData()">
					Download mapped data
				</button>
			</div>
			<div v-if="topology_loaded != 'False'">
				<p>
					<div class="checkbox">
						<label><input type="checkbox" v-model="checked_filter" v-on:change="cleanFilter(checked_filter, masking_range)">Masking ranges</label>
					</div>
					<span v-if="checked_filter">Residue ranges to show, separated by semicolon. <br> For example: 1-80;91-111;</span>
					<input v-if="checked_filter" v-model="masking_range" v-on:input="handleMaskingRanges(masking_range)">
				</p>
				<p v-if="correct_mask!='True'&&masking_range!=null">Incorrect range syntax!</p>
				<p>
					<div class="checkbox">
						<label><input type="checkbox" v-model="checked_selection" v-on:change="cleanSelection(checked_selection, filter_range)">Filter Range</label>
					</div>
					<span v-if="checked_selection">Residue range to show </span>
					<input v-if="checked_selection" v-model="filter_range" v-on:input="handleFilterRange(filter_range)">
				</p>
				<p>
					<div class="checkbox">
						<label><input type="checkbox" v-model="checked_customMap" v-on:change="cleanCustomMap(checked_customMap)">Custom Data</label>
						<p><input v-if="checked_customMap" type="file" accept=".csv" ref="custom_csv_file" v-on:change="handleCustomMappingData()"/></p>
					</div>
				</p>
			</div>
		</div>
		<div class="alignment_section">
			<p></p>
			<span id="alnif" v-if="alnobj">
				<div id="alnDiv">Loading alignment...</div>
				<div id="testaln"></div>
			</span><br>
			<span v-if="aln_meta_data">Selected residue: [[aln_meta_data]]</span>
		</div>
		<div class="topology_section">
			<span id="topif" v-if="chainid">
				<div id="topview">Loading topology viewer and conservation data...</div>
			</span>
		</div>
		<div class="molstar_section">
			<span id="molif" v-if="chainid">
				<div id ="pdbeMolstarView">Loading Molstar Component...</div>
			</span>
		</div>
		<footer >Footer</footer>
	</div>

	<!-- include our custom Vue scripts -->
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<script type="text/babel" src="{% static "alignments/vue_tree_select2.js" %}"></script>
</body>

</html>
