</head>
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
<!-- Complied & minified library css -->
    <link rel="stylesheet" href="http://apollo2.chemistry.gatech.edu/RiboVision3/pdb_component_libary/pdb.component.library.min-1.0.0.css" />

   <!-- Dependencey scripts (these can be skipped if already included in page) -->
    <script src="http://apollo2.chemistry.gatech.edu/RiboVision3/pdb_component_libary/d3.min.js"></script>
    <script src="http://apollo2.chemistry.gatech.edu/RiboVision3/pdb_component_libary/angular.1.4.7.min.js"></script>
	


    <!-- Complied & minified library JS -->
    <script src="http://apollo2.chemistry.gatech.edu/RiboVision3/pdb_component_libary/pdb.component.library.1.0.3.js"></script> 

    <script>
      angular.element(document).ready(function () {
          angular.bootstrap(document, ['pdb.component.library']);
		  document.getElementById("insert").innerHTML = 5 + 6;
      });
    </script>
    <style>
      .view3d {
        height:400px;
        width:400px;
        position:relative;
      }
    </style>


</head>
   
  
<body>

<div class="container">
  <h2>Possible Template for RiboVision3</h2>
  <p>RiboVision3 may be organized in multiple tabs:</p>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#query">Query</a></li>
    <li><a href="#compute">Compute</a></li>
    <li><a href="#1D">1D</a></li>
	<li><a href="#2D">2D</a></li>
	<li><a href="#2D_Prots">2D Proteins</a></li>
    <li><a href="#3D">3D</a></li>
  </ul>

  <div class="tab-content">
    <div id="query" class="tab-pane fade in active">
      <h3>Query</h3>
      <p>Karan and Ali will develop quering module for DESIRE database here.</p>
      <p>This is a test</p>
	</div>
    <div id="compute" class="tab-pane fade">
        <h3>Compute</h3>
        <p>Petar will develop computational module here.</p>
    </div>
    <div id="1D" class="tab-pane fade">
      <h3>1D</h3>
      <p>You are looking at example alignment.</p>
      <script src="./msa.min.gz.js"></script>
      <div id="yourDiv">press "Run with JS"</div>
      <script>
        var sequence = `>uL14b_100226_STRCO
------------------------------------------------MIQQESRLRVADNTGAKEILTIRVLG------------GSGR----RYAGIGDVIVATVKDAIPG-GNVKKGDVVKAVIVRTVKERRRPDGSYIRFDENAAVILKN--DGDPRGTRIFGPVGRELREKKFMKIISLAPEVL
>uL14b_281090_LEIXX
------------------------------------------------MIQQESRLKVADNTGAKELLTIRVLG------------GSGR----RYAGLGDVIVATVKDAIPG-GNVKKGDVVKAVIVRTRKNTRRTDGSYIKFDENAAVILKN--DGDPRGTRIFGPVGRELRDKKFMKIISLAPEVL
>uL14b_272631_MYCLE
------------------------------------------------MIQQESRLKVADNTGAKEILCIRVLG------------GSSR----RYASIGDVIVGTVKDAIPG-GNVKRGDVVKAVVVRTAKECRRPDGSYIKFDENAAVIIKP--DNDPRGTRIFGPVGRELREKRFMKIISLAPEVL
>uL14b_205913_BIFLD
------------------------------------------------MIQQETRLHVADNTGAKELLAIRVLG------------GSKR----RYAGIGDVIVASVKDAIPG-GSVKKGDVVKAVVVRTVKESRRADGSYIKFDENAAVILGS--GREPKGTRIFGPVGRELREHKFMKIVSLAPEVI
>uL14b_267747_PROAC
------------------------------------------------MIQQETRLKVADNTGAKELLCIRVLG------------GSKR----RYAYLGDTIVCTVKDAIPG-GNVKKGEVVKAVVVRTVKSHRRPDGSYIKFDENAAVLLKG--DGEPRGTRIFGPIARELREKKFMRIVSLAPEVI
>uL14b_169963_LISMO
------------------------------------------------MIQQESRMKVADNSGAREVLTIKVLG------------GSGR----KTANIGDVVVCTVKQATPG-GVVKKGEVVKAVIVRTKSGARRQDGSYIKFDENACVIIRD--DKSPRGTRIFGPVARELRENNFMKIVSLAPEVL
>uL14b_282458_STAAR
------------------------------------------------MIQQETRLKVADNSGAREVLTIKVLG------------GSGR----KTANIGDVIVCTVKNATPG-GVVKKGDVVKAVIVRTKSGVRRNDGSYIKFDENACVIIRD--DKGPRGTRIFGPVARELREGNFMKIVSLAPEVL
>uL14b_221109_OCEIH
------------------------------------------------MIQQETRLKVADNSGAREVLTIKVLG------------GSGR----KTANIGDVIVCTVKQATPG-GVVKKGEVVKAVIVRSKSGARRKDGSYIRFDENAAVIIRD--DKSPRGTRIFGPVARELRDAQFMKIVSLAPEVL
>uL14b_198094_BACAN
------------------------------------------------MIQQESRLKVADNSGARELLTIKVLG------------GSGR----KYANIGDIIVATVKQATPG-GVVKKGDVVKAVVVRTKSGARRPDGSYIKFDENAAVIIKD--DKSPRGTRIFGPVARELRDSNFMKIVSLAPEVL
>uL14b_171101_STRR6
------------------------------------------------MIQTETRLKVADNSGAREILTIKVLG------------GSGR----KFANIGDVIVASVKQATPG-GAVKKGDVVKAVIVRTKSGARRADGSYIKFDENAAVIIRE--DKTPRGTRIFGPVARELREGGFMKIVSLAPEVL
>uL14b_235909_GEOKA
------------------------------------------------MIQQESRLKVADNSGAREVLVIKVLG------------GSGR----RYANIGDVVVATVKDATPG-GVVKKGQVVKAVVVRTKRGVRRPDGSYIRFDENACVIIRD--DKSPRGTRIFGPVARELRDKDFMKIISLAPEVI
>uL14b_273068_CALS4
------------------------------------------------MIRPQTRLKVADNTGAKEIMCIRLLG------------GSNR----KYSNVGDIIVASVKSATPG-GVVKKGEVVKAVIVRTKKGIARKDGTYIRFDDNAAVIIRD--DKQPRGTRIFGPVARELRDKDFMKIISLAPEVL
>uL14b_292459_SYMTH
------------------------------------------------MIQVQTRLQVADNTGAKELMCIKVLG------------GSWR----RYANIGDVIVCSVKEASPG-GVVKKGDVVRAVVVRTKKGLRREDGSYIRFDENAAVILKD--DKEPRGTRIFGPVARELRDKEFMKIISLAPEVL
>uL14b_203267_TROWT
------------------------------------------------MIQQESRLKVADNTGAKSLSVIRVLG------------GSNR----RFGSLGDVVVASVKDAVPGSSAVKKGDVVKAVIVRSTKEVRRTDGSYIRFDDNAAVILRP--DNDPRGTRIFGPVARELRDRKFTRIISLAPEVV
>uL14b_269798_CYTH3
------------------------------------------------MIQQESRLSVADNSGAKEVLVIRVLG------------GTGK----RYASIGDKVVVTVKSAISS-SNMKKGTVSKAVVVRTKKEVKRADGSYIRFSDNAAVLLNN--NDEPRGTRIFGPVARELRDKQFMKIVSLAPEVL
>uL14b_226186_BACTN
------------------------------------------------MIQVESRLTVCDNSGAKEALCIRVLG------------GTGR----RYASVGDVIVVSVKSVIPS-SDVKKGAVSKALIVRTKKEIRRPDGSYIRFDDNACVLLNN--AGEIRGSRIFGPVARELRATN-MKVVSLAPEVL
>uL14b_242619_PORGI
------------------------------------------------MIQQESRLVVADNSGAKEALCIRVLG------------GTRR----RYASVGDIIVVSVKSVIPS-SDIKKGAVSKAVIVRTKKEVRRPDGSYIRFDDNACVLLNA--AGDIRGSRIFGPVARELRGTN-MKIVSLAPEVL
>uL14b_243230_DEIRA
------------------------------------------------MIMPQSRLDVADNSGAREIMCIRVLNSGIGGKGLTTGGGGNK----RYAHVGDIIVASVKDAAPR-GAVKAGDVVKAVVVRTSHAIKRADGSTIRFDRNAAVIINN--QGEPRGTRVFGPVARELRDRRFMKIVSLAPEVL
>uL14b_262724_THET2
------------------------------------------------MIQPQTYLEVADNTGARKIMCIRVLK------------GSNA----KYATVGDVIVASVKEAIPR-GAVKEGDVVKAVVVRTKKEVKRPDGSAIRFDDNAAVIINN--QLEPRGTRVFGPVARELREKGFMKIVSLAPEVL
>uL14b_156889_MAGMM
------------------------------------------------MIQVESRLEVADNSGAKKVQCIKVIG------------GSKR----RYARVGDVIIVAVKAALPR-GKVKKGEVARAVVVRTKKEISRPDGSLIRFDKNAAVLINK--AGEPVGTRIFGPVTRELRARNYMKIISLAPEVL
>uL14b_159087_DECAR
------------------------------------------------MIQMQTTLDVADNTGARSVMCIKVLG------------GSRR----RYAGIGDIIKVSIKDAAPR-GRVKKGDVYNAVVVRTAKGVRRPDGSLVRFDGNAAVLLNN--KLEPIGTRIFGPVTRELRTERFMKIVSLAPEVL
>uL14b_62928_AZOSB
------------------------------------------------MIQMQSKLDVADNTGARSVMCIKVLG------------GSKR----RYASIGDIIKVTVKDAAPR-GRVKKGDVYNAVVVRTAKGVRRPDGSLVKFDNNAAVLLNN--KLEPIGTRIFGPVTRELRSERFMKIVSLAPEVL
>uL14b_242231_NEIG1
------------------------------------------------MIQMQTILDVADNSGARRVMCIKVLG------------GSKR----RYASVGDIIKVAVKDAVPR-GRVKKGDVYNAVVVRTAKGVRRPDGALIKFDNNAAVLLNN--KLEPLGTRIFGPVTRELRTERFMKIVSLAPEVL
>uL14b_264198_CUPNJ
------------------------------------------------MIQTESRLEVADNTGAREVLCIKVLG------------GSKR----RYASVGDIIKVTVKDAAPR-GRVKKGDIYNAVVVRTAKGVRRADGSLVKFDGNAAVLLNN--KLEPIGTRIFGPVTRELRTERFMKIVSLAPEVL
>uL14b_482957_BURL3
------------------------------------------------MIQTESRLEVADNTGAREVLCIKVLG------------GSKR----RYAGIGDIIKVSVKEATPR-GRVKKGEIYNAVVVRTAKGVRRQDGSLIKFDGNAAVLLNN--KLEPIGTRIFGPVTRELRSERFMKIVSLAPEVL
>uL14b_296591_POLSJ
------------------------------------------------MIQTQSKLDVADNTGAKSVMCIKVLG------------GSKR----RYASVGDVIKVSIKEAAPR-GRVKKGEVYSAVVVRTAKGIRRGDGSLVKFDGNAAVLLNA--KLEPIGTRIFGPVTRELRTEKFMKIVSLAPEVL
>uL14b_190486_XANAC
------------------------------------------------MIQMQSYLDVADNSGAKEVMCIKVLG------------GSKR----RYAHIGDIIKVTVKDAIPR-GKVKKGEVYDAVVVRTRKGVRRPDGSLIRFDGNAAVLLNN--KQEPIGTRIFGPVTRELRSEKFMKIVSLAPEVL
>uL14b_228410_NITEU
------------------------------------------------MIQMQSLLKVADNTGARTVMCIKVLG------------GSKR----RFAGIGDVIKVAVKDAAPR-GRIKRGEVYNAVIVRTAKGIRRADGSLVKFDTNAAVILNN--KLEPIGTRIFGPVTRELRTAKFMKIVSLAPEVI
>uL14b_208963_PSEAB
------------------------------------------------MIQTQSMLDVADNSGARRVMCIKVLG------------GSHR----RYAGIGDIIKVTVKEAIPR-GKVKKGQVMTAVVVRTKHGVRRTDGSIIRFDGNAAVLLNN--KQEPIGTRIFGPVTRELRTEKFMKIVSLAPEVL
>uL14b_214092_YERPE
------------------------------------------------MIQEQTMLNVADNSGARRVMCIKVLG------------GSHR----RYAGIGDIIKITIKEAIPR-GKVKKGDVLKAVVVRTKKGVRRPDGSVIRFDGNACVILNN-NSEQPIGTRIFGPVTRELRNEKFMKIISLAPEVL
>uL14b_316407_ECOLI
------------------------------------------------MIQEQTMLNVADNSGARRVMCIKVLG------------GSHR----RYAGVGDIIKITIKEAIPR-GKVKKGDVLKAVVVRTKKGVRRPDGSVIRFDGNACVLLNN-NSEQPIGTRIFGPVTRELRSEKFMKIISLAPEVL
>uL14b_71421_HAEIN
------------------------------------------------MIQEQTMLDVADNSGARSVMCIKVLG------------GSHR----RYAAIGDIIKITVKEAIPR-GKVKKGDVLKAVVVRTKKGVRRPDGSVIRFDGNACVILNN-NTEQPIGTRIFGPVTRELRSEKFMKIISLAPEVL
>uL14b_243265_PHOLL
------------------------------------------------MIQEQTMLNVADNSGARRVMCIKVLG------------GSHR----RYAHVGDIIKVTIKEAIPR-GKVKKGDVLKAVVVRTRKGVRRPDGSVIRFDGNACVLLNN-TSEQVIGTRIFGPVTRELRNEKFMKIISLAPEVL
>uL14b_243277_VIBCH
------------------------------------------------MIQMQTMLDAADNSGARSVMCIKVLG------------GSHR----RYAHVGDIIKVTVKEAIPR-GKVKKGDVLKAVVVRTRKGVRRPDGSVIRFDRNACVLLNN-NSEQPIGTRIFGPVTRELRNAKFMKIVSLAPEVL
>uL14b_563178_BUCA5
------------------------------------------------MIQEQTILHVADNSGARSAMCIKVLG------------GSRR----RYAAIGDVIKITIKEAIPR-GKVKKGEVLKAVVVRTKKGVRRSDGSVIRFDTNACVVLNN--NEQPIGTRIFGPVTRELRTEKFMKIISLAPEVL
>uL14b_575564_ACISP
------------------------------------------------MIQTETMLDVADNSGARRVQCIKVLG------------GSHR----RYASVGDIIKVTVKEAIPR-ARVKKGDVMNAVVVRTKFGIRRPDGSVIRFDDNAAVILNN--NKAPIATRIFGPVTRELRTEQFMKIISLAPEVL
>uL14b_211586_SHEON
------------------------------------------------MIQMQSTLDVACNSGARRVQCIKVLG------------GSHR----RYAGIGDIIKVSVKEAIPR-AKAKKGDVYNAVVVRTKKGVRRPDGSVIRFDRNAAVLLNN--NLQPIGTRIFGPVTRELRNEQFMKIVSLAPEVL
>uL14b_227377_COXBU
------------------------------------------------MIQTQSIVDVADNSGARRVMCIKVLG------------GSKR----RYANIGDVIKVSIKEAIPR-GKVKKGDVMHAVVVRTRKGVRRNDGSLIRFDNNAVVLLNN--QLQLVGTRVFGPVVRELRTDKFMKIISLALEVL
>uL14b_297245_LEGPL
------------------------------------------------MIQMQTVLEVADNSGARKVMCIKVLG------------GSHR----RYARVGDVIKVSVKDAIPR-SKVKKGAVMRAVVVRTAQGVRRDDGSLIRFDDNAAVLLNN--QNEPIGTRIFGPVTRELR-ERFMKIISLAAEVL
>uL14b_176299_AGRFC
------------------------------------------------MIQMQTNLDVADNSGARRVMCIKVLG------------GSKR----KYASVGDIIVVSIKEAIPR-GRVKKGDVMKAVVVRTAKDIRRADGSVIRFDNNAAVLIDN--KKEPIGTRIFGPVPRELRAKNHMKIISLAPEVL
>uL14b_266834_RHIME
------------------------------------------------MIQMQTNLDVADNSGARRVMCIKVLG------------GSKR----KYASIGDIIVVSIKEAIPR-GRVKKGDVMKAVVVRTAKDIRRADGSVIRFDTNAAVLIDN--KKEPIGTRIFGPVPRELRAKNHMKIISLAPEVL
>uL14b_283166_BARHE
------------------------------------------------MIQMQTNLDVADNSGARRVMCIKVLG------------GSKR----KYASVGDIIVVSVKDAIPR-GRVKKGDVMKAVVVRTAKDIRRADGSVIRFDGNAAVLVDN--KKEPIGTRIFGPVPRELRARNHMKIISLAPEVL
>uL14b_224911_BRADU
------------------------------------------------MIQMQTNLDVADNSGARRVMCIKVLG------------GSKR----RYATIGDIIVVSIKEAIPR-GKVKKGDVMKAVVVRVRKDIRRADGSVIRFDRNAAVLINN--QSEPVGTRIFGPVPRELRAKNHMKIISLAPEVL
>uL14b_565050_CAUCN
------------------------------------------------MIQMQTNLEVADNSGARRVMCIKVLG------------GAGR----RYASVGDVIVVSVKEAIPR-GRVKKGDVLRAVVVRVNQNLKRKDGSVIRFDKNAAVIVNK--QSEPVGTRIFGPVPRELRAKNHMKIISLAPEVL
>uL14b_272627_MAGMG
------------------------------------------------MIQMQTNLDVADNSGARRVQCIKVLG------------GSHR----TIATVGDVIVVSIKEAIAR-GRVKKGDVHRAVIVRTAKEIRRADGSAIRFDTNAAVLINK--QGEPIGTRIFGPVTRELRGKKFMKIISLAPEVL
>uL14b_349102_RHOS5
------------------------------------------------MIQMQTNLDVADNSGARRVQCIKVLG------------GSHR----RYASVGDIIVVSVKEAIPR-GRVKKGDVRKAVVVRTAKEVRREDGTTIRFDRNAAVILNN--QGEPVGTRIFGPVVRELRAKNFMKIISLAPEVL
>uL14b_555217_ZYMMA
------------------------------------------------MIQMQTNLDVADNSGAKRVQCIKVLG------------GSKR----RTATVGDVIVVSVKEAAPR-GRVKKGDVHRAVIVRTAKDIHRADGSVIRFDGNAAVLINK-TSGEPIGTRIFGPVVRELRARNHMKIISLAPEVL
>uL14b_290633_GLUOX
------------------------------------------------MIHPETNLDVADNSGARRVQCIKVLG------------GSKR----KTASVGDVIVVSVKEAIPR-GKVKKGDVHQAVIVRTSYPVRRADGSAIRFDKNAAVLLNK--QQEPIGTRIFGPVVRELRARKFMKIISLAPEVL
>uL14b_279238_NOVAD
------------------------------------------------MIQMQSNLDVADNSGAKRVQCIKVLG------------GSKR----RFAGVGDIIVVSVKEAQPR-ARVKKGDVHRAVIVRTKKDVRRTDGSVIRFDSNAAVLVGK--NEEPIGTRIFGPVVRELRGKGFMKIISLAPEVL
>uL14b_203907_BLOFL
------------------------------------------------MIQERTILNVADNSGARFAMCIKVLG------------GSKR----RYANIGDVIKVTVKEAIPK-AKVKKGDVLQAVIVRTKKGIRRIDGSIIRFDNNACVLLND-TNMQPLGTRIFGPVTRELRYANFVRIISLAPEVL
>uL14b_663917_GEOSK
------------------------------------------------MIQMQTVLDVADNSGAKKLFCIKVLG------------GSKR----KYAGVGDIVVCSVREAVPN-AKVKKGDVVKVVIVRTAKEIGRPDGSYIRFDDNSGVVINN--QREPVGTRIFGPVARELRAQKFMKIISLAPEVL
>uL14b_235279_HELHP
------------------------------------------------MIQSFTRLSVADNSGAKEIMCIKILG------------GSHR----RYARVGDVIVASVKKAIPN-GKVKKGQVVKAVVVRTKKEIHRENGSLVRFDDNAAVILDA--KKEPIGTRIFGPVSREVRYANFMKIVSLAPEVL
>uL14b_190304_FUSNN
------------------------------------------------MVQQQTILNVADNSGAKKLMVIRVLG------------GSRK----RFGKIGDIVVASVKEAIPG-GNVKKGDIVKAVIVRTRKETRRDDGSYIKFDDNAGVVINN--NNEPRATRIFGPVARELRARNFMKILSLAIEVI
>uL14b_243274_THEMA
------------------------------------------------MIQQETYLNVADNSGAKKLRVIRVIG------------GFHK----KYGTVGDIVVCSVREAIPN-SDVKKGDVVRAVIVRTKKEIRRNDGTYIRFDDNAAVLIDK--FNAPRGTRIFGPVARELREKGFMKIVSLAPEVW
>uL14b_1080228_SYNYG
------------------------------------------------MIQQQTYLNVADNSGARKLMCLRVLG------------TGNC----TYGGIGDQIIAVVKDALPN-MPIKKSDVVRAVIVRTKQPLRRASGMSIRFDDNAAVIINA--EGNPRGTRVFGPVARELRDKNFTKIVSLAPEVL
>uL14b_165597_CROWT
------------------------------------------------MIQQQTYLNVADNSGARKLMCLRVLG------------TGNC----TYGKIGDKIIAVVKDALPN-MPVKRSEIVTAVIVRTRQPVNRASGMTIRFDDNAAVIINA--DGNPRGTRVFGPVARD-----------------
>uL14b_197221_THEEB
------------------------------------------------MIQQETYLNVADNSGAKKLLCIRVLG------------GSNR----RYGSVGDVIIATVKDATPN-MAVKKSDVVRAVIVRTRKSIRRESGMSIRFDDNAAVLINQ--DGNPRGTRVFGPVARELRDKNFTKIVSLAPEVL
>uL14b_240292_ANAVT
------------------------------------------------MIQPQTYLNVADNSGARKLMCIRVLG------------AGNS----RYGFIGDKIIAVVKDATPN-MAVKKSDVVEAVIVRTRHHIRRDSGMTIRFDDNAAVIINK--DGNPRGTRVFGPVARELRDKNFTKIVSLAPEVL
>uL14b_91464_SYNS7
------------------------------------------------MIQQETFLNVADNSGARKLMCIRVLGG-----------------RKQYAGVGDIIVAVVKDALPN-MGVKKSDVVKAVVVRTRKGIRRASGMSIRFDDNAAVLINQ--DGNPRGTRVFGPVARELRDKSFTKIVSLAPEVL
>uL14b_251221_GLOVI
------------------------------------------------MIQQQSRLSVADNTGARELLCIRVLGSTVGS-KGLTKGGGNR----RYAFVGDIVVAVVKDAAPN-MGVKKSEVVRAVVVRTRQAIRRDNGMVIRFDDNAAVIIDK--NGNPRGTRVFGPVARELREKNFTKIISLAPEVL
>uL14b_265311_MESFL
------------------------------------------------MIQTLSKLKVADNSGAKEVRVIRNLG------------GSVR----KFTGIGDIIVCSVQSATPG-GAVKKGQVVKAVIVRTTRELKREDGTYIRFSENAVVIIKE--DKSPRGTRIFGPIAREIKEAGFAKIASLAPEVL
>uL14b_194439_CHLTE
------------------------------------------------MIQKETNLVVADNSGAKKVRCIHVFG------------GTGR----RYAALGDQIMVSVKAAVPG-GVVKKKDVCKAVVVRCVKEQKRKDGSYIRFDENAVVLLNA--QGEPRGTRIFGPVARELRDKRYMKIVSLAPEVL
>uL14b_243090_RHOBA
------------------------------------------------MIQQESRLDVADNTGAREVMCIKVLG------------GSRR----RFATVGDVIVCSVKSVIPG-SEVKKKAVVRAVIVRVKQPTRRPDGSYIRFDSNAVVLVDK--DRNPRGTRIFGAVARELRENNFMKIVSLANEVV
>uL14b_243276_TREPA
------------------------------------------------MIQVQSRLNVADNSGARLVQCIKVVG------------GSRR----RYASVGDIIVVAVKDALPT-SVIKKGSVEKAVIVRVSKEYRRVDGTYIRFDDNACVVIDA--NGNPKGKRIFGPVARELRDMDFTKIVSLAPEVL
>uL14b_227941_CHLCV
------------------------------------------------MIQQESQLKVADNTGAKKVKCFKVLG------------GSRR----RYATVGDIIVCSVRDVEPD-SSIKKGDVVKAVIVRTRRDILRKDGSSLRFDTNSCVIIDE--KGNPKGTRIFGPIAREIRDRGFVKISSLAPEVI
>uL14b_243164_DEHM1
------------------------------------------------MVQQYTRLNVADNTGAKKIMCINVLG------------GSRK----LQAKVGDVIVAAVKKSSPD-AQAKSGTVVKAVVVRITKPYARPDGSYIKFDDNAAVILND--KMEPKGTRIFGPVARELRDKKFTKILSLAPEVL
>uL14b_292805_WOLTR
------------------------------------------------MIQKNTLLEVADNSGAREVLCIGLLGG------------------RKSASIGDTIVVSTKSVNPK-GKVEKGKVYRAVVVRVKNCIRKSDNSVIRFSSNAVVLVNN--QGEPLGTRVFGPV-KKLPSGSFMKIMSLAVEVL
>uL14c_1072681_HALSG
------------------------------MKPIG--------ANVTRTLDIGAELVCADNSGAKELEIIGVKN------------RKGRRTRRDSAGIGDKVKVKILRGDQE----VKHQVFDAVIVRQNKEYQRPNGMRVEFEDNAAVLVEE-ETGLPKGNVTKGPIAKEVVE-RYNPVGKIASQVV
>uL14c_1538547_LOKI
---------------------MGTRRKSGIKRNVK--------PRTSYGLCNGSRIKITDNSGAKIAQIINVDH------------YKGRLRRLPKASVGSICTVTVKKGKPE----LRGNIMKAVIVRQKMIFRRPDGTRLCFEDNAGVLITL--DGDPKGTEIRGPIAREAAE-LFPRLASISSLII
>uL14c_1577684_NANOP
------------------------------MKPIS--------ARVTKGITVGTILKVADNSKAKLAKVVSVIG------------YKGIKRRYARAGVADMVSVSIIDGDLS----LVGKVMKAVIIRQRKEYRRKDGTRIKFEDNACIIIKDEKTGTPAGTVIRGPVAREVVE-RWPEIGKIASIVI
>uL14c_228908_NANEQ
------------------------------MKPIS--------ASIVRALPVGAYLNVADNSGAKVVKLIAVKG------------YKGRKRRLAKAGIADLVIVSVRDGKPD----MIGQIFKAVVVRMKKEWRRRDGTRIKFEDNAVALLKD-DYGTPKGTIIKTPIAKEVAE-RWPDLAKIARIIV
>uL14c_1805424_WOESE
------------------------------MESIK--------ANVTKAIPVGAHIPTCDNSGAKVIKVFGVLR------------SKTVKGRYPAAGVGDIVMASVKKGRPD----MRKQVVLAVIVRQRKEYRRVDGTRIKFEDNAAVVLKD-NKGNPKGTILKGAIAKEASE-RWPAVAKLASIVV
>uL14c_1801881_PACER
------------------------------MKAVA--------ARLTWGLNIGSKAMAADNSGAKIVRITGVKG------------GKGRRGRQQPAKPGDWVKVSVRKGLLE----MKGKVFDAVLIRQKKPYQRASGERIAFQDNAVALLKD-EKGNPKGTQIKGPMSREVAV-KWPQLGKICKFIV
>uL14c_1852841_Diapherotri
------------------------------MKAIS--------ARGTSSLNLGAEVIAADNSGAKIVKIVSVKK------------SKAKKGKQVSAKIADWVKVSVRKGVPD----MKGKVFDAVVIRQKKPFRRLSGERIAFEDNAIAILKD-EKGNPKGTQIKGPIAREVQE-RWAQVAKIASVVY
>uL14c_1700835_BATHA
----------------MAAKAKARALIARGMIGQR--------PKISRGLLAGSIIKCTDNTGARELRVVQVMG------------YKGRLRRVPSAAVGDMVVVSVRRGTPD----MRKKIFQAVVVRQKKPFRRNDGMWVQFEDNAAVIMTP--EGEMRGSEIRGPVAREAAE-RWPRIASAASIIV
>uL14c_1776334_Hadesarchae
----------------------MGKKGAGTAIGVS-------AVTPVRALPVGARLVVTDNTGAREIQIISVMG------------YKGRHRAMSKAGVGDRVVASVKKGIPE----LRKQLVQAVVVRQTKEYRRIDGLRVMFEDNAAVLITP--EAAPRGSEIKGPIAREAAE-RWPKVAGIASIVV
>uL14c_1803814_THEIO
----------------------MGKKGAGATRGRS-------LARPTRALTTGSRLVCTDNTGAKELEIISVLE------------YKGVRRRYPKAGVGDMIVASVKKGRPD----IRKKVVNAVIVRQKKEYRRVSGIRIKFEDNAAVITGL--DGVPKGTEIRGPVAKEAIE-KWVRLSSAAKIVV
>uL14c_186497_PYRFU
----------------------MAKKGAGATRGVS-------AVRPTRALPVGAYLTVADNSGAKVIQIIGVVE------------YHGTRRRLASAGVGDMVVATVKKGRPD----MRHQVVRAVIIRQRKEYRRLDGMRVKFEDNAAVIVTP--EGVPRGTEIRGPVAREAAE-RWVRIGSIASIIV
>uL14c_69014_THEKO
----------------------MAKKGAGATRGIS-------PVRPTRALPIGAYLKVADNSGAKVIQIIGVVG------------YKGTRRRLAAAGVGDMVVATVKKGRPD----MRHQVVRAVVVRQRKEYRRLDGMRVKFEDNAAAIVTP--EGVPRGTEIRGAIAREAAE-RWVRLGSIASIVL
>uL14c_187420_METTH
------------------------------MKAIA--------SKVTRALPVGARLQCVDNTGAREVEIISVRG------------YKGVRRRLAAAGVGDMVVVSVKKGTVD----MRREVLNAVIVRQKKEYRRPDGLRVKFEDNAAVIVSP--EGVLKGSEIRGPVAKEAAD-RWPSVGSAASIIV
>uL14c_339860_METST
------------------------------MKAIT--------SNVSKSLPIGARLKCIDNTGAREVEIISVKG------------FKGVRRRLASAGVGDMVVISVKKGTAD----MRREVTTAVVVRQKKEYRRADGLRVKFEDNAAVIITE--DGVLKGSEIRGPIAKEAAD-LWPAIGSAASIIV
>uL14c_190192_METKA
------------------------------MKAIK-------AKSPHAALPVGARLVCADNTGARELQIIAVKG------------YKGVRRRLPNAGIGDMVVCSVKEGTPD----MRKEVVNAVIVRQRKEYRRPDGTRVKFEDNAAVIVTP--DGAPRGSEIRGPVAKEAAE-RWPRIGSIASIIV
>uL14c_224325_ARCFU
------------------------------MKAIR--------ANIPRALPTGARLVCADNTGARELEIIAVKG------------YKGVRRRYPAAGVGDIVVVTVKKGTPE----IRKQVHYAVIVRQRKEYRRPDGTRVKFEDNAAVITNE--RGEPRGSEIRGAVAREAAE-RFSKIGTIASVIV
>uL14c_243232_METJA
------------------------------MKAIG--------SKPVRALPVGARCICADNTGAKEVEIIAVRN------------YKGVARRLPTARVGDMVIVTVKKGTPE----MRKQVLPAVVIRQRKEIRRPDGTRVKFADNAVVIVTP--DGNPKGSDIKGPVAKEAAE-RWPGIARIAKIII
>uL14c_419665_META3
------------------------------MKGFG--------SKVIRSLPNGARLICADNTGAKELEIIAVKG------------YKGVARRLPAGGVGSLVFVSVKKGTPE----MRKQVLPAIIIRQKKEYRRPDGSRVKFEDNAAVIVTP--EGSPKGSEIKGPVAKEAAE-RWAGVSRLAKIIH
>uL14c_188937_METAC
------------------------------MKGMR--------SNIPRALNAGAQIACVDNTGAKVVEIISVKK------------YRGVKNRMPCAGIGDMCVVSVKKGTPE----MRKQVLLAVVVRQKQEFRRPDGLHVSFEDNAMVITDE--EGIPKGTDIKGPVAREVAE-RFPKIGTTASIIV
>uL14c_192952_METMA
------------------------------MKGIR--------SNIPRALNAGAQIACVDNTGAKVVEIISVKK------------YRGVKNRMPCAGIGDMCVVSVKKGTPE----MRKQILLAVVVRQKQEFRRPDGLHVSFEDNAMVITDE--DGIPKGTDIKGPVAREVAE-RFPKIGTTASIIV
>uL14c_269797_METBF
------------------------------MKGIR--------SNIPRALNAGAKVPCVDNTGAKVVEIISVKK------------YRGVKNRMPCAGIGDMCVVSVKKGTPE----MRKQVLLAVVVRQKQEFRRPDGLRVSFEDNAMVITDE--EGIPKGTDIKGPIAREVAE-RYPKIGTTASIIV
>uL14c_259564_METBU
------------------------------MRGIR--------SKIPRALNAGAKIECVDNTGARTVEIISVKK------------YRGVKNRMPKGGIGDMCVVSVKKGTPE----MRKQILYAVIVRQKKEFRRPDGIRVAFEDNAVVIVDD--KGIPKGTDIKGPVAREAAE-RFPKIGTTASMIV
>uL14c_349307_METTP
------------------------------MRGNK--------AKIPRSINTGTYLECADNTGARTLFVVSVKK------------YRGVKNRQPCAGIGDMVVVSVKKGTPE----MRKQIFNAVIIRQKKEFRRPDGLRVKFEDNAAVITDD--AGVPKGSEIKGPVAREVAE-RFGKIASSAAIIV
>uL14c_323259_METHJ
------------------------------MKGLG--------IKVPRAVSTGTKLTCADNTGARVVQVVSVFG------------YHGVRRRQPKLGLADIATVSVKKGTPD----MRRKLVRAVVIRQKKEIRRPSGLRLSFEDNAVVVVDD--KNEPRGTEIKGPVAREVAI-RYPRIGSMATIIV
>uL14c_456442_METB6
------------------------------MKAKQ--------SKTPRALATGTKLTCADNTGARIVQIVSVFG------------YHGVRRRQPKMGLGDIATVTVKKGTPD----MRKKLVRAVVIRQKKEMRRPNGLRVSFDDNAVVVVDE--KNEPKGTEIKGPVAREVAE-RYPKLGSMATIIV
>uL14c_410358_METLZ
------------------------------MKGLT--------SKIPRALQTGSKMVCADNTGARVVQIVSVFG------------YHGVKNRQPKMGLGDLATVTVKKGTPD----MKRKLVRAVVVRQKKEFRRPNGLRVSFEENAMILLNE--NGDPRGTDIKGPVAREVAE-RFPKVGSMATIII
>uL14c_368407_METMJ
------------------------------MKAMQ--------AKIPRALATGSRMVCSDNTGARLVEVVSVDR------------YHGVRRRQPCLGLGDVATVSVKKGTPD----MRRKLEKAVVIRQKKEIRRPNGIRLSFEDNAMVLINE--RGEPKGTEIKGAVPREIAE-RFPKIASMATTIV
>uL14c_263820_PICTO
------------------------------MKGIS--------GRETRGLPLGALIPCVDNTGAKMISLIDVKA------------LHTVAKRIPAAGVGDMFIASVKKGTPE----MRSKVVYAVVVRQRRPYRRADGTMIEFEDNAAVLVTP--DGEVRGSEIKGPVAREAAE-RWPRIAAISSTIV
>uL14c_74969_FERRA
------------------------------MKGIS--------GNESRGLPLGAVIPCADNTGAKMISLIGVKD------------LHTVARRIPAAGVGTLFIASVRKGTPE----MRAKVVYAVVVRQRRPYRRADGNIIEFEDNAAVLVTP--EGEVRGSEIKGPVAREAAE-RWPRIAAIASTIV
>uL14c_273116_THEVO
------------------------------MKGIA--------GREIRGLPLGANIVCADNTGARSISLIDVKA------------YHGKARRIPAAGVGDMFIASVKKGTPE----MRSKVVYAVVIRQKRPYRRPDGTMVEFEDNAAVLVTP--DGEVRGSEIKGPVAREAAE-RWPRIAAIASIIV
>uL14c_272569_HALMA
------------------------------MEALG--------ADVTQGLEKGSLITCADNTGARELKVISVHG------------YSGTKNRHPKAGLGDKITVSVTKGTPE----MRRQVLEAVVVRQRKPIRRPDGTRVKFEDNAAVIVDE--NEDPRGTELKGPIAREVAQ-RFGSVASAATMIV
>uL14c_348780_NATPD
------------------------------MEALN--------ADVTQGLEKGSLITCADNTGARELKVTSISG------------YSGTKNRHPKAGLGDKITVSVTKGTPE----MRRQVLEAVVIRQRKPIRRPDGTRVKFEDNAAVIVDE--NEDPRGTELKGPIAREVAE-RFGSIASTATIIV
>uL14c_309800_HALVD
------------------------------MEALK--------ADITKGVARGSLVTCADNTGARELKIISVAG------------YSGTKNRHPKAGIGDKVTVSVTKGTPE----MRRQVLEAVIVRQRKSIRRPDGTRVKFEDNAAVIIDE--MEEPRGTEIKGPVAREVAE-RFGSIASTATMIV
>uL14c_362976_HALWD
------------------------------MEALK--------ADVTKGLERGSLVTCADNTGARELKVISVMG------------SSGTKNRHPKAGIGDQVTVSVTKGTPE----MRRQVLEAVIVRQRKSIRRPDGTRVKFEDNAAVIIDE--MEEPRGTEIKGPIAREVAE-RFGSIASTATMIV
>uL14c_416348_HALLT
------------------------------MEALK--------ADVTQGLSKGSLITCADNTGARELKVISVAG------------YSGTKNRHPKAGIGDKVTVSVTKGTPE----MRRQVLEAVVVRQRKPIRRPNGTRVKFEDNAAVIIDD--LDEPRGTEIKGPVAREVAE-RFGSIASTATMIV
>uL14c_64091_HALSA
------------------------------MEAIK--------ADITQGLEKGSLITCADNTGARELKITSVMG------------YQGRKNRHPKAGLGDTITVSVTKGTPE----MRRQVLEAVVVRQRKPIRRPDGTRVKFEDNAAVIIDD--LGEPRGTEIKGPISREVAE-RYGTIASTATMIV
>uL14c_272557_AERPE
----------------------MAKKKKYGVVVSR--------YGVNTGLQVGSYVPVADNSGAKEVMIISVPQ------------VKTRLRRLPSAGVGDLVVVSVKKGTPQ----MRRQVVYAVVVRQRRPFRRPDGTWVSFEDNAVVIVNP--DGTPRGSEVRGPIAREAAE-RWPRVAKIATMIV
>uL14c_399550_STAMF
----------------------MPKKGKGKPAFSR--------RRIATGLQVGSYVRVADNSGAKLVKIIGVPG------------YKGRLRRIPPAGIGDLVVVTVKKGTPE----MRKQVVKAVIVRQKRPFRRPDGTWVAFEDNAVAIVTP--EGTPKGSEIRGPIAKEVAE-RWPQLANIATIVV
>uL14c_415426_HYPBU
----------------------MPKG--AAGAGPR--------RHIAAGLQVGSYVKVADNSGAKEAMIIGVIG------------YKGRLRRIPPAAVGDMVVVTVKKGTPE----MRKQVVRAIVIRQRRPYRRPDGTWIAFEDNAVVIVSP--DGTPKGSEIRGPVAREAAE-RWPKVANIASIII
>uL14c_453591_IGNH4
-------------------------MVKASANKSR--------RKVVTGLQVGSYVKVTDNSGAKVAMIIGVPG------------YHGRLRRIPPAGVGDMVVVTVKKGTPE----MRHQVVRAIVVRQRKPFRRPDGTWVAFEDNAVVIVSE--DGTPRGSEIRGPVAREAVE-RWPRIGNVASIVV
>uL14c_273063_SULTO
------------------------MPEKLQVLGSR--------KGLTPGLQHYTTVTVADNSGAKEAVIIGIYG------------YKGVLRRIPFANIADLVMVSVRKGTPE----VRKQKFKAVIVRQRMPFRRPDGTWIAFEDNAVVIVNP--DGTPKGTEIRGPIAKEAAE-RWPKVASIATMVI
>uL14c_330779_SULAC
------------------------MPEKMNVLGSR--------KGFTPALQHNSSVVVADNSGAKEAVIIGIYG------------YRGVLRRVPFANIADLVMVSVRKGSPD----VRKQKFKAVIVRQRMPFRRPDGTWISFEDNAVVIINP--DGTPKGTEVRGPIAREAAE-RWPKIASVATMVI
>uL14c_399549_METS5
------------------------MPEKMQVLGSR--------KGLTPAVQNYTMVNVSDNSGAKEAMIISVFG------------YRGALRRVPYANVGDLVMVSVRKGAPD----VRKQKFKAVVIRQRMPFRRPDGTWISFDDNAVVIVNP--DGTAKGTEIRGPVAREAAE-RWPKVASLATLIV
>uL14c_368408_THEPD
---------------------MAKRGPKTVGVSYR--------LGLTPGVFMESLVKVADNSGATLAKVIGVPH------------YKAVWRRIPGAAVGDIVIVSIRAGKPE----LRKQVMRAIVIRQRRPYRRPDGSWIAFEDNAVVIITP--EGEPKGTEIRGPLAKEAAE-RWPKLSAMASIIV
>uL14c_397948_CALMQ
--------------------MAKRGGPRTVGVPWR--------FHLTPGIFMNSLVNVADNSGAKVVKVIGVVGH----------YSKNVHRRIPGVSVGDMVVVSVQEGKPE----MRKQILRAIVVRQRRPFRRPDGTWVAFEDNAVVIVTE--EGQVKGTEVHGPVAMEAAQ-RWPQVASIATMII
>uL14c_410359_PYRCJ
--------------------MAKRGGKRTVGVPYR--------FHVTPGIFMNSLVPVADNSGAKLVRVIGVVGH----------YSKSVHRRIPGAGVGDMVVVVVREGKPE----LRKQIFRAIVVRQRRPYRRPDGTWVAFEDNAVVIVTP--EGDPKGSEIHGPVAMEATL-RWPTIANLASIVV
>uL14c_1841599_ODIN
MSSKSGKPAKQAPATKAAKAGGAKRARRKIEIIVK--------PKLSRGLSVGSYIKCADNSGAKLLKIISVLG------------YKGPINRLPNASVGDMVVVSVKQGTPE----MRRQVLNAVIIRQRKPYRRATGEWVQFEDNAAVITTP--VGEAKASEIRGAMALEAAS-RWPRLASAASTVV
>uL14c_1706444_THOR
------------------------------MRKFI--------PRIARGLPIGARLLCTDNSGAKELQLITVYG------------YKGKLRKLGKAGIGDMVNVSVTKGKQE----LRKQVLQAIIVRQRKPYRRPDGTWMQFEDNAAVLVKP--GGEPQGSELRGPMAREVTL-KWPRVAAIASKIV
>uL14c_374847_KORCO
---------------------MSKVARRRKVEGVK--------PKITHGLPVRARLKCADNTGAKLLMIIGVHG------------YKGRKDRVPTASVGDMVTVVVKRGKYD----LMHKPFKAIVVRQRMPYRRKNGQWVVFEDNAAVLVND--DGTPRGSEFRGPIAKEAIE-RWPSLSVISAQVV
>uL14c_414004_CENSY
------------------MSQGRSRGKAKGVEEFR--------PYVTRALPVGARVTCADNSGAKVLEIIMVQK------------AKTRVSRLPAAAVGDYVNVVVKKGPAE----LRKQVHGAVIIRQKYPVRRLNGVRVAFEDNAAVLTTP--EGEMKGTDIKGPVAAEASE-KWPRLANLASMVV
>uL14c_436308_NITMS
----------------------MAKQAGKGVEEFR--------PYVTKVIPVGANIVCADNSGAKILEVINVPR------------HRTRASRLPSASVGDFCNVVVKKGPAE----LRKQVYGAVIIRQKYPVRRLNGVRVCFEDNAAVLITP--EGETKGTDIKGPVAAEASE-KWPRVANLASMVV
>uL14c_1841598_HEIM
----------------------------MAKKGIKRKAGGGPIAKFTRGLPIGAELLASDNSGARLLNLIAVKG------------AKTRLSRIPSAKIGDLIICSVTKGSQK----IRRQIVHAVVVRQRQRIRRSDGTIIAFYDNAAVVTNE--IGDPKGSEIRGAVAKEAAE-RFPRIASTATMII
>uL14c_1803500_ENIGM
------------------------------MKALK--------SNVRRCIPVGAIIECVDNTGAKKLNLISVKG------------YHGRKRRLQSAKVGDIVVCSVRKGTQK----WRKQVVKALIIRQKKEYKRTTGVRIKFEDNAAIIVND--KVEPQGSQIKGPVDKEVIN-RFLHIGKFANFVA
>uL14c_425595_MICAC
------------------------------MKGIS--------SHISKTLIPGTILTCADNSGAKTLMIINKIG------------KSGAHGRLASVGIGDIVMASVKSGSPQ----YIKKKVRAVIIRQRSPVLRAAGMRLRFEDNAAILITD--VNLPVATEVKGAMAREVIE-KYIKLAGIASRVI`
        var opts = {
          el: document.getElementById("yourDiv"),
          seqs: msa.io.fasta.parse(sequence),
          colorscheme: {
            scheme: "clustal2",
          },
          zoomer: {
            // general
            alignmentWidth: 1200,
            alignmentHeight: 750,
            columnWidth: 15,
            rowHeight: 15,
            labelNameLength: 200,
            autoResize: true, // only for the width
          },
          // smaller menu for JSBin
          menu: "small",
          bootstrapMenu: true
        };
        var m = new msa.msa(opts);
        m.render();
      </script>
    </div>
    <div id="2D" class="tab-pane fade">
      <h3>2D</h3>
      <p>Anton will work on 2D maps  here</p>
    </div>
    <div id="2D_Prots" class="tab-pane fade">
      <h3>2D Proteins</h3>
      <p>Caeden will work on 2D protein maps  here</p>
		<div style="position:relative;height:400px;width:1200px;">
 
	<pdb-seq-viewer entry-id="1cbs" entity-id="1" height="370" width="1200" ></pdb-seq-viewer>
</div>
	<p></p>
	  <div style="margin:20px 0 20px 20px">
			<h3>PDB Topology Viewer Demo</h3><hr>
			
			<pdb-topology-viewer entry-id="1cbs" entity-id="1" height="325" width="400"></pdb-topology-viewer>
			
			
		</div>
		<p></p>
	    <p id="insert"></p>
	 	<div style="position:relative;height:600px;width:400px;">
		<pdb-lite-mol pdb-id="'1cbs'" load-ed-maps="true"></pdb-lite-mol>
	
</div>	 
    </div>	
    <div id="3D" class="tab-pane fade">
      <h3>3D</h3>
      <p>Zach will help with NGL 3D plugin here</p>
      <script src="./static/js/ngl.js"></script>
      <div id="viewport" style="width:1200px; height:900px;"></div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $(".nav-tabs a").click(function(){
    $(this).tab('show');
  });
  $('.nav-tabs a[href="#3D"]').on('shown.bs.tab', function(e) {		//Spawns a viewport div everytime we show this tab.
    e.preventDefault();
    $(this).show()
    addViewer()
    function addViewer () {
      // create a `stage` object
      var pdbfile = "rcsb://1JJ2"
      var stage = new NGL.Stage("viewport");
      stage.loadFile(pdbfile).then(function (component) {
        component.addRepresentation("cartoon");
        component.autoView();
  	  });
  	}
  });
  $('.nav-tabs a[href="#3D"]').on('hide.bs.tab', function(){		//Hide old instance of the viewport.
    $("#viewport").hide();
  });
  $('.nav-tabs a[href="#3D"]').on('shown.bs.tab', function(){		//Show new instance of viewport div
    $("#viewport").show();
  });
});
</script>

</body>
</html>


