<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<body>
    <div id = "reduced"></div>
    <div id = "total"></div>

    <script>
        function get_twc_list_data(propensity_data) {
            $.ajax({
            url: propensity_data,
            type: "GET",
            dataType: "json",
            success: function (data) {
                // console.log(data)
                ra = ['C', 'F', 'G', 'P', 'D', 'N', 'K', 'V'], 
                full = ['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y'], 
                build_propensity_graph(data['reduced alphabet'], ra, 'Reduced Alphabet Propensities', 'reduced');
                build_propensity_graph(data['amino acid'], full, 'Amino Acid Propensities', 'total');
            },
            error: function (error) {
                console.log(`Error ${error}`);}
            });
        }
        function build_propensity_graph(data, amino_acids, title, div) {
            // reformat data
            var data2 = {};
            for (aa of amino_acids) {
                data2[aa] = [];
            }
            for (species in data) {
                // console.log(data[species])
                for (aa of amino_acids) {
                    data2[aa].push(data[species][aa])
                }
            };

            // build traces
            traces = []
            for (aa of amino_acids) {
                var newtrace = {
                    y: data2[aa],
                    type: 'box',
                    boxpoints: 'all',
                    jitter: 0.2,
                    pointpos: 0,
                    name: aa}; 
                    // marker: {color: 'rgb(9,56,125)'},
                    // line: {color: 'rgba(0,0,0,0)'},
                    // fillcolor:{color: 'rgba(0,0,0,0)'}};
                traces.push(newtrace)
            };
            
            var layout = {
                title: title,
                xaxis: {title: 'amino acid group'},
                yaxis: {title: 'propensity'}};

            Plotly.newPlot(div, traces, layout);
        }
    window.onload = get_twc_list_data("{{propensity_data}}")
    </script>
</body>