<!-- I just straight up copied this from simpleVisualization.html 
TODO:
- replace all instances of twc_api_url with my own data url
-->


<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<body>
    <div id = "reduced"></div>
    <div id = "total"></div>

    <script>
        function get_twc_list_data(propensity_data) {
            $.ajax({
            url: propensity_data,
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log(data)
                build_plotly_graph(data);
            },
            error: function (error) {
                console.log(`Error ${error}`);}
            });
        }
        function build_plotly_graph(data){
            var
                cArray = [],
                fArray = [],
                gArray = [],
                pArray = [],
                dArray = [],
                nArray = [],
                kArray = [],
                vArray = [];
            data.forEach(iterationHelper);

            // traces
            var ctrace = {
                y: cArray,
                type: 'box',
                boxpoints: 'all',
                jitter: 0.2,
                pointpos: 0,
                name: 'C'};
                // marker: {color: 'rgb(9,56,125)'},
                // line: {color: 'rgba(0,0,0,0)'},
                // fillcolor:{color: 'rgba(0,0,0,0)'}};
            var ftrace = {
                y: fArray,
                type: 'box',
                boxpoints: 'all',
                jitter: 0.2,
                pointpos: 0,
                name: 'F'};
            var gtrace = {
                y: gArray,
                type: 'box',
                boxpoints: 'all',
                jitter: 0.2,
                pointpos: 0,
                name: 'G'};
            var ptrace = {
                y: pArray,
                type: 'box',
                boxpoints: 'all',
                jitter: 0.2,
                pointpos: 0,
                name: 'P'};
            var dtrace = {
                y: dArray,
                type: 'box',
                boxpoints: 'all',
                jitter: 0.2,
                pointpos: 0,
                name: 'D'};
            var ntrace = {
                y: nArray,
                type: 'box',
                boxpoints: 'all',
                jitter: 0.2,
                pointpos: 0,
                name: 'N'};
            var ktrace = {
                y: kArray,
                type: 'box',
                boxpoints: 'all',
                jitter: 0.2,
                pointpos: 0,
                name: 'K'};
            var vtrace = {
                y: vArray,
                type: 'box',
                boxpoints: 'all',
                jitter: 0.2,
                pointpos: 0,
                name: 'V'};
            
            var layout = {
                title: 'Reduced Alphabet Propensities for OB Folds',
                xaxis: {title: 'amino acid group'},
                yaxis: {title: 'propensity'}};
            var data = [ctrace, ftrace, gtrace, ptrace, dtrace, ntrace, ktrace, vtrace];

            Plotly.newPlot('reduced', data, layout);
            Plotly.newPlot('total', data, layout);

            function iterationHelper(sequence) {
                cArray.push(sequence[1]);
                fArray.push(sequence[2]);
                gArray.push(sequence[3]);
                pArray.push(sequence[4]);
                dArray.push(sequence[5]);
                nArray.push(sequence[6]);
                kArray.push(sequence[7]);
                vArray.push(sequence[8]);
            }
        }
    window.onload = get_twc_list_data("{{propensity_data}}")
    </script>
</body>