<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- reference: https://plotly.com/javascript/hover-events/#coupled-hover-events -->

<body>
    <div id = "reduced"></div>
    <div id = "total"></div>

    <script>
        var align_name = "{{align_name}}";
        var tax_name = "{{tax_name}}";
        function get_twc_list_data(propensity_data) {
            $.ajax({
            url: propensity_data,
            type: "GET",
            dataType: "json",
            success: function (data) {
                // supply order of amino acids
                ra = ['C', 'F', 'G', 'P', 'D', 'N', 'K', 'V'];
                full = ['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y']; 

                // arguments: data, amino acids, title of graph, div to be displayed in
                build_propensity_graph(data['reduced alphabet'], ra, align_name + ' ' + 'Reduced Alphabet Propensities for ' + tax_name, 'reduced');
                build_propensity_graph(data['amino acid'], full, align_name + ' ' + 'Amino Acid Propensities for ' + tax_name, 'total');

                // var myPlot = document.getElementById('reduced');
                // myPlot.on('plotly_hover', function (eventdata){
                //     var points = eventdata.points[0],
                //         pointNum = points.pointNumber;
                //         curveNum = points.curveNumber;

                //     Plotly.Fx.hover('reduced',[
                //         { curveNumber:0, pointNumber:pointNum },
                //         { curveNumber:1, pointNumber:pointNum },
                //         { curveNumber:2, pointNumber:pointNum },
                //         { curveNumber:3, pointNumber:pointNum },
                //         { curveNumber:4, pointNumber:pointNum },
                //         { curveNumber:5, pointNumber:pointNum },
                //         { curveNumber:6, pointNumber:pointNum },
                //         { curveNumber:7, pointNumber:pointNum }
                //     ]);
                //     console.log(curveNum, pointNum)
                // });
            },
            error: function (error) {
                console.log(`Error ${error}`);}
            });
        }
        function build_propensity_graph(data, amino_acids, title, div) {
            // reformat data into trace format
            var data2 = {};
            var hover = {};

            // initialize arrays for each amino acid in the JavaScript object
            for (aa of amino_acids) {
                data2[aa] = [];
                hover[aa] = [];
            }

            // for a species, add the propensities for each amino acid to their respective arrays
            for (species in data) {
                for (aa of amino_acids) {
                    data2[aa].push(data[species][aa])
                    hover[aa].push(data[species]['name'])
                }
            };

            // build traces
            traces = []
            for (aa of amino_acids) {
                // styling - can we make this a stripplot?
                var newtrace = {
                    y: data2[aa],
                    type: 'box',
                    boxpoints: 'all',
                    jitter: 0.2,
                    pointpos: 0,
                    name: aa,
                    text: hover[aa]};
                    // hoveron : 'points',
                    // hovertemplate: "%{species}<extra></extra>"},
                    // marker: {color: 'rgb(9,56,125)'},
                    // line: {color: 'rgba(0,0,0,0)'},
                    // fillcolor:{color: 'rgba(0,0,0,0)'}};
                traces.push(newtrace)
            };
            
            var layout = {
                title: title,
                xaxis: {title: 'amino acid group'},
                yaxis: {title: 'propensity'},
                hovermode: 'closest',
                hoveron: 'points'};

            Plotly.newPlot(div, traces, layout);
        }
    window.onload = get_twc_list_data("{{propensity_data}}")
    </script>
</body>