<html>
<head>
	{% load static %}
	<script src={% static 'alignments/external/d3@5.9.2' %}></script>
	<script type="text/javascript" src={% static 'pdb-topology-viewer-plugin-2.0.0.js' %} defer></script>

</head>
<body>
	<div id="myViewer"></div>
	<script>
		//Instantiate plugin after DOM content is loaded
		document.addEventListener('DOMContentLoaded', () => {
	 
			 //Create plugin instance
			 var viewerInstance = new PdbTopologyViewerPlugin();
	 
			 //Set options (** All the available options are listed below in the documentation)
			 var options = {
			 entryId: '1b23',
			 entityId: '2',
			 chainId: 'P',
			 pvAPI: true,
			 }
		 
			 //Get element from HTML/Template to place the viewer 
			 var viewerContainer = document.getElementById('myViewer');
	 
			 //Call render method to display the 2D view
			 viewerInstance.render(viewerContainer, options);
		});
	 </script>
	<!-- <pdb-topology-viewer entry-id="1b23" entity-id="2" chain-id ="P" proteovision-api="true" subscribe-events="false"></pdb-topology-viewer> -->
</body>
</html>
