#phylo_tree_dropdown {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr 1fr auto / auto 1fr 1fr
  }
  
  header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 5;
    grid-row: 1 ;
  }

  .left-sidebar {
    background: lightblue;
    grid-column: 1 / 2;
    grid-row: 2 / 4 ;
    width: 300px;
  }

  .alignment_section{
    display: grid;
    place-items: center;
    background: wheat;
    grid-column: 2 / 4;
    grid-row: 2 ;
  }

  .topology_section{
    display: grid;
    place-items: center;
    background: wheat;
    grid-column: 2 ;
    grid-row: 3 ;
    text-align: center;
  }

  .molstar_section{
    display: grid;
    place-items: center;
    background: wheat;
    grid-column: 3 ;
    grid-row: 3 ;
    text-align: center;
  }

  footer {
    background: coral;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 5 ;
    grid-row: 4 ;
  }

  body {
    font-family: system-ui, sans-serif;
  }

  .left-sidebar,
  .topology_section,
  .molstar_section {
    padding: 1rem;
  }

  .vue-treeselect__menu {
    width: 450px;
    overflow-x: auto;
    text-overflow: clip;
  }

  .vue-treeselect__placeholder,
  .vue-treeselect__single-value,
  .vue-treeselect__label,
  .vue-treeselect__tip-text {
    text-overflow: clip;
  }

  #topview{
    width: 500px;
    height: 500px;
    float:left;
    position:relative;
  }
  #pdbeMolstarView {
    width: 500px;
    height: 500px;
    float:left;
    position:relative;
  }