<div id="LayerDialog" title="Layer / Selection Manager">
  <div id="PanelTabs">
	<ul>
	  <li>
		<a href="#LayerPanel">Layers</a>
	  </li>
	  <li>
		<a href="#SelectionPanel">Selections</a>
	  </li>
	</ul>
	<div id="LayerPanel"></div>
	<div id="SelectionPanel"></div>
  </div>
</div>
<div id="LayerPreferenceDialog" title="Layer Preferences">
<label for="layerNameInput">
  <b>Layer Name:</b>
</label> 
<input type="text" id="layerNameInput" value="" name="layerNameInput" />
<div id="LayerColorDiv">
<b>Layer Color:</b> 
<input id="layerColor" type="text" name="color" value="#940B06" />
<div id="layerColorPicker"></div></div></div>
<div id="SelectionPreferenceDialog" title="Selection Preferences">
<label for="selectionNameInput">Selection Name:</label> 
<input type="text" id="selectionNameInput" value="" name="selectionNameInput" /> 
<input id="selectionNameChangeBtn" type="button" value="Change" onclick="Javascript:changeCurrentSelectionName()" />
<div id="SelectionColorDiv">Layer Color: 
<input id="selectionColor" type="text" name="color" value="#940B06" /> 
<input id="selectionColorChangeBtn" type="button" value="Change" onclick="Javascript:changeSelectionColor()" />
<div id="selectionColorPicker"></div></div></div>
<!--Color Control Dialog Box-->
<div id="ColorDialog" title="Nucleotide Coloring">
  <div id="ColorDiv">Pick Color:
  <br />
  <input id="MainColor" type="text" name="color" value="#940B06" />
  <br />
  <div id="colorpicker"></div>
  <input id="clearColor" type="button" name="clearColor" onclick="Javascript:clearColor(true)" value="Clear Color" /> 
  <input id="colorSelection" type="button" onclick="Javascript:colorSelection()" value="Color Selection" /> 
  <input id="clearselection2" name="selebutton" type="button" onclick="JavaScript:clearSelection();"
  value="Clear Selection" /></div>
</div>
<div id="InteractionSettingDialog" title="Interaction Setting">
  <div id="ColorDiv3">Pick Color:
  <br />
  <input id="LineColor" type="text" name="color" value="#940B06" />
  <br />
  <div id="colorpicker3"></div>
  <!--<input id="clearColor" type="button" name="clearColor" onclick="Javascript:clearColor(true)" value="Clear Color" 
			<input id="colorLineSelection" type="button" onclick="Javascript:colorLineSelection()" value="Color Line Selection" />
									<input id="clearLineSelection" name="selebutton" type="button" onclick="JavaScript:clearLineSelection();" value="Clear Line Selection" />/>--></div>
  <div class="dialogContentArea">
	<!--
									<p style="line-height:1.6em">Choose single line or multiple ones:</p>

			<div id="singleMultiChoice">
					<input type="radio" id="radio1" name="radio" /><label for="radio1">Single</label> <input type="radio" id="radio2" name="radio" checked=
					"checked" /><label for="radio2">Multiple</label>
			</div><br />-->
	<p id="lineOpacity" style="line-height:1.6em">Line Opacity: 50%</p>
	<div id="lineOpacitySlider"></div>
  </div>
</div>
<div id="dialog-confirm-delete" title="Delete the currently selected layer?">
  <p>Replace Me Text.</p>
</div>
<div id="dialog-confirm-delete-S" title="Delete the currently selected selection?">
  <p>Replace Me Text.</p>
</div>
<div id="dialog-selection-warning" title="No layers are currently selected!">
  <p>Replace Me Text.</p>
</div>
<div id="dialog-invalid-color-error" title="Invalid color name. Try again.">
  <p>Sorry, the color you have entered is invalid. It is neither a valid &quot;Hex Code&quot; nor a valid HTML5 color name.
  Please try again.</p>
</div>
<div id="dialog-unique-layer-error" title="This name is taken. Try again.">
  <p>Sorry, all layer names must be unique. The name you entered already exists. Please try again.</p>
</div>
<div id="dialog-unique-selection-error" title="This name is taken. Try again.">
  <p>Sorry, all selection names must be unique. The name you entered already exists. Please try again.</p>
</div>
<div id="dialog-layer-type-error" title="Layer type mismatch">
  <p>You attempted to put nucleotide data into an incompatible layer. Please select a circle, residue, or contour layer. You
  may create a new circle or contour layer if you like.</p>
</div>
<div id="dialog-name-error" title="Name not allowed">
  <p>This name is not allowed under the current naming rules. Names must begin with a letter and cannot exceed 16 characters.
  Only letters, digits ([0-9]), hyphens (&quot;-&quot;), underscores (&quot;_&quot;), colons (&quot;:&quot;), and periods
  (&quot;.&quot;) are allowed.</p>
</div>
<div id="dialog-generic-notice" title="Notice to User">
  <p class="ReplaceText"></p>
</div>
<div id="dialog-restore-state" title="Restore a state?">
<p>Choose file.</p>Load Data Set: 
<input type="file" id="files2" name="files[]" accept="text/txt" /> 
<output id="list2"></output></div>
<!--
<div id="dialog-3D-Type" title="Choose Viewing Option">
  <p>RiboVision can be used to view/analyze secondary structures alone or secondary structures in combination with 3D
  structures.</p>
  <div id="3DTypeToggle2">
  <input id="3DDisabled" type="radio" name="jjsmol2" value="Disabled" />
  <label for="3DDisabled">Click here for secondary structures alone
  <br />(works in most browsers, including tablets/phones)</label> 
  <input id="JmolJava2" type="radio" name="jjsmol2" value="Java" />
  <label for="JmolJava2">Click here for secondary structures in combination
  <br />with 3D structures (
  <b>recommended</b>, requires java)</label>
  <br />
  <!--<input id="JSmolJS2" type="radio" name="jjsmol2" value="JS" /><label for="JSmolJS2">JSmol (no Java)</label> <br /></div>
  <br />
  <input id="RememberJmol" type="checkbox" />
  <label for="RememberJmol">Remember this preference.</label>
</div>//-->
<div id="Privacy-confirm" title="Privacy Policy"></div>
<div id="dialog-saveEverything" title="Save Manager">
  <div id="SaveTabs" title="SaveTabs">
	<ul>
	  <li>
		<a href="#Tab-saveFigures">Figures</a>
	  </li>
	  <li>
		<a href="#Tab-saveSeqData">Sequences &amp; Data</a>
	  </li>
	  <li>
		<a href="#Tab-saveManager">Session</a>
	  </li>
	</ul>
	<div id="Tab-saveFigures" title="Save / Export Figures">
	  <p>RiboVision saves images from each panel separately.</p>
	  <div id="NavLineExport" class="ui-widget-content ExportDiv3">
		<h3 class="ui-widget-header3">1D Panel</h3>
		<p>The 1D Panel can be saved as an SVG.</p>
		<input type="button" onclick="JavaScript:saveNavLine();" value="Save as SVG" />
		<br />
	  </div>
	  <div id="CanvasExport" class="ui-widget-content ExportDiv3">
	  <h3 class="ui-widget-header3">2D Panel</h3>
	  <p>Would you like to export just the visible layers, or all layers?</p>
	  <input id="visibleLayers" type="radio" name="savelayers" value="visible" checked="checked" />
	  <label for="visibleLayers">Visible Layers</label> 
	  <input id="allLayers" type="radio" name="savelayers" value="all" />
	  <label for="allLayers">All Layers</label>
	  <p>SVG files are best for further editing.</p>
	  <input id="saveSVG-btn" type="button" value="Save as SVG" />
	  <br />
	  <p>PDF files are best for printing and sharing.</p>
	  <input id="savePDF-btn" type="button" value="Save as PDF" />
	  <br />
	  <p>PNG and JPG files are good for presentations. PNG has the advantage of a transparent background.</p>
	  <input id="savePNG-btn" type="button" value="Save as PNG" /> 
	  <input id="saveJPG-btn" type="button" value="Save as JPG" /></div>
	  <div id="JmolExport" class="ui-widget-content ExportDiv3">
		<h3 class="ui-widget-header3">3D Panel</h3>
		<p>Save the 3D Panel as a PNG.</p>
		<input id="save3dImg-btn" type="button" value="Save as PNG" />
		<br />
		<p>Additionally, you may export a PyMOL Script for further processing in PyMOL.</p>
		<input id="savePML-btn" type="button" value="PyMOL Script" />
	  </div>
	</div>
	<div id="Tab-saveSeqData" title="Save / Export Sequences and Data">
	  <div id="SequenceExport" class="ui-widget-content ExportDiv2">
		<h3 class="ui-widget-header3">Plain Sequences</h3>
		<p>Sequences (including partial sequences from selections) can be exported in a standard fasta format.</p>
		<input type="button" onclick="JavaScript:saveFasta();" value="Save Sequence(s) as Text (.fasta)" />
		<p>Sequences (including partial sequences from selections) can be exported to native RiboVision format. These files
		contain nucleotide numbers and optionally can be imported into RiboVison using the 
		<a href="./Documentation/UserDataSyntax.html" target="_blank">Import</a> function.</p>
		<input type="button" onclick="JavaScript:saveSeqTable();" value="Save Sequence(s) as Table (.csv)" />
	  </div>
	  <div id="DataExport" class="ui-widget-content ExportDiv2">
		<h3 class="ui-widget-header3">Data &amp; Sequences</h3>
		<p>Sequences can be saved along with data from all layers in native RiboVision format.</p>
		<input type="button" onclick="JavaScript:saveSeqDataTable();" value="Save Nucleotide Data as Table (.csv)" />
		<p>Nucleotide-Nucleotide Interactions can also be exported to native RiboVision format. These files can further be
		imported into RiboVision using the 
		<a href="./Documentation/UserDataSyntax.html" target="_blank">Import</a> function.</p>
		<input type="button" onclick="JavaScript:saveInteractionDataTable();" value="Save Interaction Data as Table (.csv)" />
	  </div>
	</div>
	<div id="Tab-saveManager" title="Save/Restore Manager">
	  <div id="FreshDiv" class="ui-widget-content">
		<h3 class="ui-widget-header3">Restore Default State</h3>
		<input id="freshenRvState" name="savebuttonT" type="button" value="Restore" />
	  </div>
	  <div id="SaveOptionsDiv" class="ui-widget-content">All Locations:
	  <br />
	  <input id="LastSpeciesCheck" name="LastSpeciesCheck" value="LastSpeciesCheck" type="checkbox" checked="checked" />
	  <label for="LastSpeciesCheck">Current Species Loaded</label>
	  <br />
	  <input id="LayersCheck" name="LayersCheck" value="LayersCheck" type="checkbox" checked="checked" />
	  <label for="LayersCheck">Layers with data</label>
	  <br />
	  <input id="SelectionsCheck" name="SelectionsCheck" value="SelectionsCheck" type="checkbox" checked="checked" />
	  <label for="SelectionsCheck">Selections</label>
	  <br />
	  <input id="MouseModeCheck" name="MouseModeCheck" value="MouseModeCheck" type="checkbox" checked="checked" />
	  <label for="MouseModeCheck">Mouse Mode</label>
	  <br />
	  <input id="PanelSizesCheck" name="PanelSizesCheck" value="PanelSizesCheck" type="checkbox" checked="checked" />
	  <label for="PanelSizesCheck">Panel Divider Settings</label>
	  <br />
	  <input id="CanvasOrientationCheck" name="CanvasOrientationCheck" value="CanvasOrientationCheck" type="checkbox"
	  checked="checked" />
	  <label for="CanvasOrientationCheck">2D Settings</label>
	  <br />
	  <input id="3DOrientationCheck" name="3DOrientationCheck" value="3DOrientationCheck" type="checkbox"
	  checked="checked" />
	  <label for="3DOrientationCheck">3D Settings</label>
	  <br />
	  <br />File / Server only:
	  <br />
	  <input id="WholeDataSetCheck" name="WholeDataSetCheck" value="WholeDataSetCheck" type="checkbox" checked="checked" />
	  <label for="WholeDataSetCheck">Entire DataSet</label>
	  <br />
	  <br /></div>
	  <div id="SaveControlDivB" class="ui-widget-content">
		<h3 class="ui-widget-header3">Save in Browser</h3>
		<div id="SaveControlB">
		<!--
											Save To / Restore From:<br />
											<br />
											<input id="sscB" type="radio" name="ssc" value="LocalStorage" /><label for="sscB">Browser</label> <input id="sscF" type="radio" name="ssc"
											value="File" /><label for="sscF">File</label> <input id="sscS" type="radio" name="ssc" value="Server" /><label for="sscS">Server</label><br />
											<br />//-->
		Session Name:
		<br />
		<input id="SaveStateFileName" name="SaveStateFileName" type="text" value="RV_DataSet1" />
		<br />
		<br />
		<!--
											<p>Warning! Save to &quot;Server&quot; is currently being provided for testing purposes only. Data can be overwritten and/or deleted at any
											time. Additionally, other people may be able to see your work. Don&#39;t rely on this feature right now, keep backups in files.</p>//-->
		 
		<input id="ssSaveB" type="button" value="Save" /> 
		<input id="ssRestoreB" type="button" value="Restore" />
		<br />
		<br />
		<input id="clearLS" type="button" value="Delete all Sessions" />
		<br />
		<br />
		<b>Saved Sessions:</b>
		<br />
		<div id="SessionListDiv">
		  <p id="SessionList"></p>
		  <br />
		  <br />
		</div></div>
	  </div>
	  <div id="SaveControlDivF" class="ui-widget-content">
		<h3 class="ui-widget-header3">Save to File</h3>
		<div id="SaveControlF">
		<!--
											Save To / Restore From:<br />
											<br />
											<input id="sscB" type="radio" name="ssc" value="LocalStorage" /><label for="sscB">Browser</label> <input id="sscF" type="radio" name="ssc"
											value="File" /><label for="sscF">File</label> <input id="sscS" type="radio" name="ssc" value="Server" /><label for="sscS">Server</label><br />
											<br />//-->
		Session Name:
		<br />
		<input id="SaveStateFileName" name="SaveStateFileName" type="text" value="RV_DataSet1" />
		<br />
		<br />
		<!--
											<p>Warning! Save to &quot;Server&quot; is currently being provided for testing purposes only. Data can be overwritten and/or deleted at any
											time. Additionally, other people may be able to see your work. Don&#39;t rely on this feature right now, keep backups in files.</p>//-->
		 
		<input id="ssSaveF" type="button" value="Save" /> 
		<input id="ssRestoreF" type="button" value="Restore" />
		<p>We can not support restoring directly from zip files. Please unzip your RiboVision Session before
		restoring.</p></div>
	  </div>
	</div>
  </div>
</div>
<div id="dialog-addLayer" title="Create a New Layer">
<b>Layer Name:</b> 
<input id="newLayerName" name="newLayerName" type="text" />
<div id="LayerColorDiv2">
<b>Layer Color:</b> 
<input id="layerColor2" type="text" name="color" value="#940B06" />
<div id="layerColorPicker2"></div></div></div>
<div id="dialog-addSelection" title="Create a New Selection">
  <input id="newSelectionName" name="newSelectionName" type="text" />
  <div id="selectionColorDiv2">Selection Color: 
  <input id="selectionColor2" type="text" name="color" value="#940B06" />
  <div id="selectionColorPicker2"></div></div>
</div>
<div id="dialog-extra3Dmenus" title="Extra 3D Panel Features"></div>
<div id="dialog-login" title="Sign in for Advanced Features">
  <div class="container">
	<div class="row">
	  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" method="post" action="" autocomplete="off">
		  <h2>Please Sign Up</h2>
		  <p>Already a member? 
		  <a href='login.php'>Login</a></p>
		  <hr /><?php
													  //check for any errors
													  if(isset($error)){
															  foreach($error as $error){
																	  echo '<p class="bg-danger">'.$error.'</p>';
															  }
													  }

													  //if action is joined show sucess
													  if(isset($_GET['action']) && $_GET['action'] == 'joined'){
															  echo "<h2 class='bg-success'>Registration successful, please check your email to activate your account.</h2>";
													  }
													  ?>
		  <div class="form-group">
			<input type="text" name="username" id="username" class="form-control input-lg" placeholder="User Name"
			value="<?php if(isset($error)){ echo $_POST[&#39;username&#39;]; } ?>" tabindex="1" />
		  </div>
		  <div class="form-group">
			<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address"
			value="<?php if(isset($error)){ echo $_POST[&#39;email&#39;]; } ?>" tabindex="2" />
		  </div>
		  <div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6">
			  <div class="form-group">
				<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password"
				tabindex="3" />
			  </div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
			  <div class="form-group">
				<input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control input-lg"
				placeholder="Confirm Password" tabindex="4" />
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-xs-6 col-md-6">
			  <input type="submit" name="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="5" />
			</div>
		  </div>
		</form>
	  </div>
	</div>
  </div>
</div>