<div id="Counter">
	<!-- Histats.com  START  (aync)-->

	<script type="text/javascript">var _Hasync= _Hasync|| [];

	_Hasync.push(['Histats.start', '1,3983219,4,0,0,0,00010000']);

	_Hasync.push(['Histats.fasi', '1']);

	_Hasync.push(['Histats.track_hits', '']);

	(function() {

	var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;

	hs.src = ('//s10.histats.com/js15_as.js');

	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
	if(!Histats_variables){var Histats_variables=[];}
	Histats_variables.push("TheChad","42");
	}

	)();</script>

	<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?3983219&101" alt="web stats" border="0"></a></noscript>
	<!-- Histats.com  END  -->
</div>
	
	
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100760595); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100760595ns.gif" /></p></noscript>

