
{% load static %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.js">
</script>
<script type="text/javascript">
//<![CDATA[
	if(typeof jQuery === 'undefined') {
		document.write(unescape('%3Cscript type="text/javascript" src="static/js/jquery-2.1.1.min.js" %3E%3C/script%3E'));
		document.write(unescape('%3Cscript type="text/javascript" src="static/js/jquery-ui.min.js" %3E%3C/script%3E'));
	}
	
//]]>
</script><!--Use Jquery plugins-->

<script type="text/javascript" src="{% static "ribovision/js/getCookie.js" %}">
</script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.js">
</script>
<script type="text/javascript" src="{% static "ribovision/js/jquery.mousewheel.min.js" %}">
</script>
<script type="text/javascript" src="{% static "ribovision/js/jquery.ui.touch-punch.min.js" %}">
</script>
<script type="text/javascript" src="{% static "ribovision/js/jquery.multiselect.min.js" %}">
</script>
<script type="text/javascript" src="{% static "ribovision/js/jquery.multiselect.filter.min.js" %}">
</script>
<script type="text/javascript" src="{% static "ribovision/js/jquery.csv.min.js" %}">
</script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8">
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/canvg/1.4/rgbcolor.min.js">
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/canvg/dist/browser/canvg.min.js">
</script><!--Use farbtastic library-->

<script type="text/javascript" src="{% static "ribovision/js/farbtastic/farbtastic.js" %}">
</script>


<!--Custom Menu Plugins-->

<script type="text/javascript" src="{% static "ribovision/js/iosmenu.js" %}">
</script>
<script type="text/javascript" src="{% static "ribovision/js/multiAccordion.js" %}">
</script>
<script type="text/javascript" src="{% static "ribovision/js/RiboVision/RiboVision.js" %}">
//<![CDATA[
//Use RiboVision library
//]]>
</script>
<script>
$.holdReady(true);
$.ajax({
	type : "GET",
	crossDomain : true,
	url : "{% static "ribovision/js/RiboVision/RiboVisionObjects.js" %}",
	dataType : "script",
	success : function () {
		$.holdReady(false);
	},
	error : function () {
		alert("RiboVisionObjects.js load fail");
	}
});
</script>
<script>
$.holdReady(true);
$.ajax({
	type : "GET",
	crossDomain : true,
	url : "{% static "ribovision/js/RiboVision/RiboVisionLoadSpecies.js" %}",
	dataType : "script",
	success : function () {
		$.holdReady(false);
	},
	error : function () {
		alert("RiboVisionLoadSpecies.js load fail");
	}
});
</script>
<script>
$.holdReady(true);
$.ajax({
	type : "GET",
	crossDomain : true,
	url : "{% static "ribovision/js/RiboVision/RiboVisionSelections.js" %}",
	dataType : "script",
	success : function () {
		$.holdReady(false);
	},
	error : function () {
		alert("RiboVisionSelections.js load fail");
	}
});
</script>
<script>
$.holdReady(true);
$.ajax({
	type : "GET",
	crossDomain : true,
	url : "{% static "ribovision/js/RiboVision/RiboVisionLayers.js" %}",
	dataType : "script",
	success : function () {
		$.holdReady(false);
	},
	error : function () {
		alert("RiboVisionLayers.js load fail");
	}
});
</script>
<script>
$.holdReady(true);
$.ajax({
	type : "GET",
	crossDomain : true,
	url : "{% static "ribovision/js/RiboVision/RiboVisionFunctions.js" %}",
	dataType : "script",
	success : function () {
		$.holdReady(false);
	},
	error : function () {
		alert("RiboVisionFunctions.js load fail");
	}
});
</script>
<script>
$(document).ready(function () {
	$.ajax({
		type : "GET",
		crossDomain : true,
		url : "{% static "ribovision/js/RiboVision/RiboVisionInitialization.js" %}",
		dataType : "script",
		success : function () {
			RiboVisionReady();
		},
		error : function () {
			alert("RiboVisionInitialization.js load fail");
		}
	});
});
</script>

<!--Style Sheets-->
<link rel="stylesheet" href="{% static "ribovision/css/style.css" %}">
<link rel="stylesheet" href="{% static "ribovision/css/jquery-ui.structure.css" %}">
<link rel="stylesheet" href="{% static "ribovision/css/jquery-ui.theme.css" %}">
<link rel="stylesheet" href="{% static "ribovision/css/jquery.multiselect.css" %}">
<link rel="stylesheet" href="{% static "ribovision/css/jquery.multiselect.filter.css" %}">
<link rel="stylesheet" href="{% static "ribovision/css/farbtastic.css" %}">
<link rel="stylesheet" href="{% static "ribovision/css/navLine.css" %}">
