a img {
    border: 0;
}
#topMenu{
	position:absolute;
	top:0%;
	left:16%;
	height:25%;
	width:82%;
	overflow:auto;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

#NavLineDiv{
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow:auto;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	
}
#JmolTypeToggle2{
	width: 96%;
    margin: 0 auto;
}

#menu{
	width: 16%;
	position:absolute;
	top:0px;
	left:0px;
	height:93%;	
	min-width: 300px;
	overflow: hidden;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

#LogoDiv{
	position : absolute;
	left : 0px;
	width : 16%;
	height : 7%;
	bottom : 0px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}
#LogoDiv img{
	width : 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}
#MainLogoDiv {
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	height:100%;
}

.ComboLogo {
	display:block;
	/* width:33%; */
    width:50%;
	float:left;
}

#SiteInfo{
	position:absolute;
	height: 22%;
	width: 100%;
	top:0px;
	left:0px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	overflow: hidden;
}

#buttonmode{
	padding-left: 1em;
}

#MainMenu{
	position:absolute;
	left:-2px;
	top:25%;
	height:70%;	
	width: 65%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}
#MiniLayer{
	position:absolute;
	left:65%;
	top:25%;
	height:60%;	
	width: 32%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	border-left: ridge #FF5500;
	/*overflow:auto;*/
	
}
#ExportData{
	position:absolute;
	left:-2px;
	top:94%;
	height:6%;	
	width: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}
#LinkSection {
	position:absolute;
	left:65%;
	width: 32%;
	top:80%;
	height:10%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	border-left: ridge #FF5500;
}
#SideBarAccordian{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

#canvasDiv{
	position:absolute;
	top:28%;
	left:16%;
	height:72%;
	width:42%;
	background:#FFFFFF;
	border-style:solid;
	border-width:1px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

#navigator{
	position:absolute;
	top:30%;
	left:16%;
	height:auto;
	width:65px;
}

canvas{
	position:absolute;
	top:0px;
	left:0px;
	background:transparent;
}

#the3DpanelDiv{
	position:absolute;
	top:28%;
	left:58%;
	width:40%;
	height:72%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	border-style:solid;
	border-width:1px;
	background:transparent;
}

.ui-textfield {
    font: inherit;
    color: inherit;
    text-align: inherit;
    outline: none;
}
.ui-widget-header2 {
	padding:3px;
	padding-left:10px;
	background: #FF5500 url(../images/ui-bg_highlight-hard_40_FF5500_1x100.png) 50% 50% repeat-x;
	color:#FFFFFF;
	font-size:16px;
	text-align:center;
	border: 1px solid #aed0ea;
	border-radius:6px;
	margin: 0px;
	font-weight: bold;
	word-wrap:break-word;
	cursor:default;
}
.ui-widget-header3 {
	padding:3px;
	padding-left:10px;
	background: #3baae3 url(../images/ui-bg_glass_50_3baae3_1x400.png) 50% 50% repeat-x;
	color:#FFFFFF;
	font-size:16px;
	text-align:center;
	border: 1px solid #aed0ea;
	border-radius:6px;
	margin: 0px;
	font-weight: bold;
	word-wrap:break-word;
	cursor:default;
}


#layerColor2 {
	background-image: none;	
}

#layerColor {
	background-image: none;	
}
#layerColor2 {
	background-image: none;	
}

#MainColor {
	background-image: none;	
}

#LineColor {
	background-image: none;	
}

html{
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0px; 
	padding: 0px;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
}

body{
	font-family:Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px; 
	padding: 0px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
}

#slider {
	height: 200px;
	width: 12px;
	margin-left: 23px;
	margin-top: 14px;
	float:left;
}

.compass {
	margin: 0px; 	
	float: left;
	width: 20px;
	height: auto;
}

#compassImgs {
	width: 60px;
	height: auto;
}


#LayerDialog {
	padding: 0.1em 0.1em;
	box-sizing:border-box;
}

#FreshDiv {
	position: absolute;
	top:78%;
	right: 4%;
	width: 92%;
	height: 20%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

#SaveOptionsDiv {
	display:none;
	position: absolute;
	top:18%;
	left: 4%;
	width: 38%;
	height: 68%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

#SaveControlDivB {
	position: absolute;
	left: 4%;
	width: 44%;
	height: 68%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}
#SaveControlDivF {
	position: absolute;
	left: 52%;
	width: 44%;
	height: 68%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}
#SaveControlDivF  p {
	font-size: 1.0em;
}
#SaveControlDivB  p {
	font-size: 1.0em;
}
#SessionListDiv {
	overflow:auto
}
#ColorDialog {
	padding: 0.5em 0.5em;
	box-sizing:border-box;
}

#LayerPanel {
	margin-bottom: 6px;
}

#SelectionPanel {
	margin-bottom: 6px;
}

.ExportDiv3 {
	width:31%;
	float:left;
	height:80%;
	padding:0%;
	margin:1%;
}
.ExportDiv2 {
	width:47%;
	float:left;
	height:80%;
	padding:0%;
	margin:1%;
}
.SettingsDiv {
	width:24%;
	float:left;
	height:90%;
}

.layerName {
	height:1.5em;
	line-height: 1.2em;
	font-size: 1.2em;
}

.miniLayerName {
	line-height: 3.0em !important;
	font-size: 0.85em !important;
	border: 1.0px solid PaleGreen !important;
	border-width:thin !important;
	text-align:center !important;
	color:OrangeRed !important;
	cursor:url(../images/DragD.gif),s-resize;
	/*padding:0.2em !important;*/
	font-weight: bold !important;
}

.dataBubble {
	border: 1.0px solid PaleGreen !important;
	border-width:thin !important;
	text-align:center !important;
	padding:0.2em !important;
	color:OrangeRed!important;
	cursor:url(../images/DragR.gif),e-resize;
}
.selectionName {
	height:1.5em;
	line-height: 1.2em;
	font-size: 1.2em;
}

.colorBox {
	width: 3px;
	height: 28px;
	float: left;
	position: relative;
	margin-top: 3px;
	/*background: #0000FF;*/
}

.layerContent {
	padding:0em 0.8em;
}

.selectionContent {
	padding:0em 0.8em;
}

#toolBar {
	position:absolute;
	left:98%;	
	top:0%;
	width:2%;
	height:100%;
	padding-top:4px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	border-style:solid;
	border-color:#DDDDDD;
	border-width:1px;
}

.toolBarBtn{
	position:absolute;
	margin-right:5%;
	margin-left:5%;
	width:86% !important;
	height:4%;
	margin-bottom:5%;
	margin-top:5%;
}


.toolBarBtn2{
	position:absolute;
	padding: 0em;
	margin: 0em;
	width:82%;
	height:50%;
}

.dialogContentArea{
	width: 100%;
	height: 100%;
	background: #F2F5F7;
}

#nocanvas{
	position:absolute;
	top:50%;
}

.highlightBorder {
	border: 4px solid LimeGreen !important;;
}

#PanelTabs .ui-tabs-nav {
	background: transparent !important;
}
.PanelLabels{
	position:absolute;
	color:red;
	font-size:1.0em;
	z-index:999;
}

#iResidueTipA{
	float: left;
    width: 185px;
    /*height: 20px;*/
    margin-right: 8px;
}
#iResidueTipB{
	float: right;
	width: 185px;
    margin-left: 8px;
}
.NavLineItem{
	display:block;
	font-weight:500;
	margin: 0 auto;
}
.NavLineItem2{
	display:block;
	font-weight:900;
	margin: 0 auto;
	text-align:center;
}
#ResidueTipContent{
	margin:.3em .1em .1em .1em;
}

#SaveTabs .ui-tabs-nav {
	background: transparent !important;
	
}

#SaveTabs  {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	padding: 0px !important;
	height: 100%;
}
#dialog-saveEverything {
	padding: 0px !important;
}
.bg-danger, .bg-success {

	padding: 0 5px;

}


a {
	
	color: #EF1F2F;

	text-decoration: none;

}